[2017-01-05 19:50] arndt-netapp opened #2 "Support provisioning of qtrees instead of volumes to improve Trident scalability"
Requesting that Trident implement a capability to provision qtrees instead of flexible volumes (flexvols) for each new PVC.  At the time of this RFE, ONTAP supports up to 1000 flexvols per node and 12,000 flexvols per cluster.  In some environments, customers will have a desire to provision many small volumes with Trident, and will certainly run into the 1000 flexvols per node or 12,000 flexvols p

[2017-01-05 20:19] innergy commented on #2
Thanks for the feedback. Using qtrees is one possible approach for ONTAP, there are others worth considering. This will require careful design, because capabilities are lost when you move away from a full volume.

[2017-01-10 12:37] kapilarora opened #3 "ONTAP 9.1 NetApp Volume Encryption support in Trident"
I couldn't find any option in Volume Configuration to enable Volume encryption (NVE). Is this something on the roadmap?
We have a customer looking for this feature in Trident.

[2017-01-25 15:42] YvosOnTheHub opened #4 "Typo in the backend-ontap-san-full.json file"
in the file trident-installer/sample-input/backend-ontap-san-full.json, the key storageDriverName has the value "ontap-**nas**" instead of "ontap-**san**"

[2017-01-25 15:54] kangarlou commented on #4
Thanks for bringing it to our attention! I'll fix the issue in the next batch of changes.

[2017-01-26 02:00] #4 closed

[2017-02-03 12:27] scaleoutsean opened #5 "Where is sample-input?"
Where can we find these files?
Tried to search with Google and Github, no luck.

[2017-02-03 14:32] kangarlou commented on #5
You can find them under https://github.com/NetApp/trident/tree/master/trident-installer/sample-input.
Also, these files are part of the installer bundle: https://github.com/NetApp/trident/releases/download/v1.0/trident-installer-1.0.tar.gz

[2017-02-03 14:32] #5 closed

[2017-02-07 22:03] rileynjohnson opened #7 "Request for Enhancement - Security"
Client is under strict HIPAA and security requirements and needs some mechanism to guarantee containers require some form of handshake with their correct exports/LUNs.  This probably includes some form of intelligence to know which LUN to present to which container.  That functionality probably belongs higher in the orchestration layer but may require some adaptions in storage, so I’m submitting t

[2017-02-14 22:59] nthawani commented on #2
We are large organization with thousands of qtrees presented to OSE w/Kubernetes. We are unable to implement Trident because of its limitation on qtree support. We would love to see qtree support in Trident.

[2017-02-16 20:40] korenaren commented on #3
Hi Kapil - it's not supported yet, but l am tracking this internally as US2283.

[2017-02-17 06:23] carlcantprogram opened #8 "Support running on single SVM"
Does the plugin support logging in to a cluster/data vserver?

[2017-02-24 03:01] adkerr commented on #8
Currently trident requires a cluster-scoped user account to work, however we do have SVM-scoped account support on the roadmap

[2017-02-24 03:04] adkerr opened #9 "ONTAP requirements incorrectly state a cluster admin account is required"
In the README.md file there is the following line:

```Username for the provisioning account (must have cluster admin privileges).```

This is incorrect, as it should state that a cluster-scoped account is needed (with potentially restricted privileges), not the cluster admin account.

[2017-02-24 03:27] #9 closed

[2017-02-24 17:45] sands6 opened #10 "Unable to instantiate backend"
I am getting some errors when I invoke the launcher-pod. Here is my backend.json:

"version": 1,
    "storageDriverName": "ontap-nas",
    "managementLIF": "x.x.x.x",
    "dataLIF": "y.y.y.y",
    "svm": "Trident-NFS",
    "username": "admin",
    "password": "zzzzzz"
}

Here is the error output from Trident-ephemeral pod:

$ [master +4 ~6 -0 !] kubectl logs trident-ephemeral
time="2017-02-24T17:2

[2017-02-24 17:56] sands6 commented on #10
comment to add to the above note, the ontap backend is on same subnet as that of host network of kubernetes cluster.

[2017-02-24 18:34] kangarlou commented on #10
There seems to be an issue with your networking setup. The ONTAP backend should also be reachable from your pod network. You can verify network connectivity by bringing up a basic pod (e.g., a pod based on debian:latest) that pings your storage backend.

[2017-03-01 13:01] kapilarora opened #11 "Trident deployment fails for ONTAP Select backend with error Unknown Aggregate type VMDISK"
Deployment fails with ONTAP Select NAS backend with error unknown Aggregate type VMDISK.

Here are the logs from trident-ephemeral pod:

root@akapila-openshift:/trident/trident-installer# kubectl logs trident-ephemeral
time="2017-03-01T12:29:14Z" level=warning msg="Unable to find key Backends.  Continuing bootstrap, but consider checking integrity if Trident installation is not new."
time="2017-03

[2017-03-01 13:05] kapilarora opened #12 "Trident should throw a proper error when the configured NetApp ONTAP backend SVM has no Aggregate assigned to it."
When setting up Trident for the first time the  ONTAP SVM backend sometimes don't have any aggregates assigned. In this case trident should add a check and throw a proper error message to the user.

Here is the logs when we try to deploy trident with ONTAP NAS backeend with no aggr assigned to SVM.

root@akapila-openshift:/trident/trident-installer# kubectl logs trident-ephemeral
time="2017-03-01T

[2017-03-01 14:13] adkerr commented on #12
Tracked internally by [US2312](https://rally1.rallydev.com/#/47479883219d/detail/userstory/96275411716)

[2017-03-01 14:18] adkerr commented on #11
Tracked internally by [DE295](https://rally1.rallydev.com/#/47479883219d/detail/defect/96276680484)

[2017-03-01 14:21] adkerr commented on #7
Tracked internally by [US2284](https://rally1.rallydev.com/#/47479883219d/detail/userstory/93731618208)

[2017-03-01 14:26] adkerr commented on #2
Tracked internally as [US2281](https://rally1.rallydev.com/#/47479883219d/detail/userstory/93722382656)

[2017-03-01 14:29] adkerr commented on #8
Tracked internally as [US2167](https://rally1.rallydev.com/#/47479883219d/detail/userstory/86443088400)

[2017-03-02 06:01] carlcantprogram opened #13 "Provision a volume by cloning from snapshot"
Is there a way to specify a volume/snapshot/pv to clone from when creating a PVC? We want to provide bulk test data to a POD on startup.

[2017-03-16 09:44] kapilarora opened #15 "Trident install script should also work with OpenShift Client tool 'oc' in absence of 'kubectl' client"
When installing Trident in an OpenShift environment, it is possible that kubectl client is not present, rather 'oc' client tool from OpenShift. It will be good if install script works with 'oc' when kubectl is absent.

[2017-03-16 13:14] adkerr commented on #15
Trackend internally by [US2359](https://rally1.rallydev.com/#/47479883219d/detail/userstory/100444722724)

[2017-03-16 13:22] dutchiechris opened #16 "Installation using install_trident.sh --namespace NAMESPACE fails"
According to the docs and `install_trident.sh` script it is possible to pass --namespace NAMESPACE that you want to use.  I attempt this and it failed, I believe because the configmap seems to be created in the default namespace.  Even when I modified that line of `install_trident.sh` to have it created in my namespace I never got past trident-ephemeral starting.  When I started with a fresh insta

[2017-03-16 13:29] adkerr commented on #16
Tracked internally by [DE298](https://rally1.rallydev.com/#/47479883219d/detail/defect/100448832100)

[2017-03-29 02:37] carlcantprogram commented on #13
Any thoughts on adding this functionality to the plugin?

[2017-03-29 03:21] bnaylor commented on #13
You're going to be pleasantly surprised....

[2017-03-29 12:04] kangarlou commented on #13
Kubernetes doesn't currently support volume snapshots or clones. The good news is that supporting snapshots and creating a volume from a snapshot are currently being discussed in the the Kubernetes Storage SIG. We're watching this space and will add support once APIs and their functions finalize in Kubernetes.

[2017-03-29 18:54] equinox0815 opened #17 "SVM-Level Account on NetApp 8.3"
Hi,

I just tried the latest change which allows to use SVM-Level Accounts. We have a Ontap 8.3 but if i understand the docs correctly this should still work (mostly) !?

[code]

If i run this i get the following error from trident_ephemeral Pod:

`time="2017-03-29T15:32:47Z" level=error msg="SVM xxxxxxxx has no assigned aggregates." backend= handler=AddBackend`

When i enable debugging this is th

[2017-03-29 19:09] clintonk commented on #17
Hi, Christian.  Doesn't look like a bug.  Please use either System Manager or the ONTAP CLI to assign one or more aggregates to the vserver.

![image](https://cloud.githubusercontent.com/assets/1355869/24471890/9e6957d0-1491-11e7-9d01-7f482bf98369.png)

[2017-03-29 19:10] clintonk commented on #17
Once you assign aggregates to the vserver, you should see the aggr-list attribute in the log output:

![image](https://cloud.githubusercontent.com/assets/1355869/24471935/da645e88-1491-11e7-97fc-6fd07a5faff4.png)

[2017-03-29 19:13] equinox0815 commented on #17
Thanks clintonk!

[2017-03-29 19:13] #17 closed

[2017-04-07 06:14] carlcantprogram commented on #8
I built docker images based off the latest code base. They are at https://hub.docker.com/r/carln/
Using the latest code trident container is now able to provision volumes on an SVM, using the SVM interface.
Thanks guys.

[2017-04-07 21:19] innergy commented on #16
Fixed in 17.04.0

[2017-04-07 21:19] #16 closed

[2017-04-07 21:20] innergy commented on #12
Fixed in 17.04.0

[2017-04-07 21:20] #12 closed

[2017-04-07 21:20] innergy commented on #11
Fixed in 17.04.0

[2017-04-07 21:20] #11 closed

[2017-04-07 21:20] innergy commented on #8
Fixed in 17.04.0

[2017-04-07 21:20] #8 closed

[2017-04-07 21:21] innergy commented on #10
If you verify network connectivity from your pod and still see this, let us know!

[2017-04-07 21:21] #10 closed

[2017-04-18 14:06] equinox0815 opened #20 "trident allows deletion of volumes in use"
Hi,

Volumes that are created by trident via the kubernetes API (using a PVC) can be deleted using the REST API although the PVC is still there and in use. Pods who use the volume loose access to the store and all data is lost. I don't think this is a good default. Are there any plans to change this or is this inentional?

regards
 christian

[2017-04-18 14:33] kangarlou commented on #20
Hi. Trident's REST API is meant to be used by storage/IT admins only. In that sense, deleting a volume using Trident's REST API is no different than deleting a volume through a storage system's UI. The scenario you described can also happen if an admin inadvertently or intentionally deletes a volume on the storage backend while the PVC, or more generally the volume for non-Kubernetes cases, is sti

[2017-04-18 14:40] adkerr commented on #20
Would it be possible to detect that it's in use and require a force flag or something similar in that situation to help prevent irreversible accidents?

[2017-04-18 14:51] cdragga commented on #20
In Kubernetes 1.6, at least, there's no way to definitively check if a PVC is in use.  Thus, that's not really possible.

[2017-04-18 14:55] equinox0815 commented on #20
hmmmm your right @cdragga... even kubectl doesn't keep me from deleting a PVC which is in use...

[2017-04-18 14:55] adkerr commented on #20
I think we only map the volumes, at least in ONTAP and ESeries, at mount time. Could we use that to determine useage status?

[2017-04-18 15:02] adkerr commented on #20
I am getting mixed up with ndvp's workflow. Trident maps on create as we are not tied into the kubernetes mount action.

[2017-04-18 15:05] equinox0815 commented on #20
@kangarlou sure deleting volumes in the storage system's UI is always possible and you would end up with the same result. But of course it's much more obvious for the admins that deleting volumes in the back end can be potentially catastrophic. The storage system doesn't know about the automatic provisioning after all.
Trident on the other hand is well aware of that fact and as a user of the tride

[2017-04-18 17:27] kangarlou commented on #20
Trident is aware of provisioning but is currently not aware of activities on a provisioned volume as it's not a volume plugin. More specifically, Trident doesn't know if a volume is mounted or not or by whom. As discussed earlier in this thread, one can delete a PVC from underneath a running pod and there are no safeguards in Kubernetes to prevent that. Ideally, both Kubernetes and Trident should

[2017-04-24 17:47] simonpie opened #21 "Resizing of NFS share."
Hello,

Trident does not resize a volume on the NetApp filer when the pvc is changed in kubernetes.  In an ideal world, I would love for trident to catch the pvc change and push it to the filer if possible.

I am using trident to create shares on a dedicated NFS SVM.

[2017-04-24 18:13] adkerr commented on #21
Internally tracked by [US2426](https://rally1.rallydev.com/#/47479883219d/detail/userstory/111899943100)

[2017-04-25 04:19] kangarlou commented on #21
There is currently no mechanism in Kubernetes to update PVs or storage classes and they should be treated as immutable objects. The need for resizing a PV/volume is well known and there is a proposal ([Dynamic changes to PVs](https://docs.google.com/document/d/1EjK6wKuOvPTAF25rzadYVGKLMJm_jFlRXHPOeA3JfUc/edit#heading=h.syy7ailv82pm) that looks into the more general problem of updating PVs. While i

[2017-04-25 10:24] djboris9 opened #22 "RFE: Allow volume configurations to be set in StorageClass as parameter or annotation"
Hi there

As a Kubernetes administrator I would like to blueprint newly created volumes to specify configuration defaults or to comply with company standards.

In order to achive this user story I propose to extend the Kubernetes StorageClass for Trident by the same annotations as PersistentVolumeClaims or in volume.json (Trident Volume Configuration):

- trident.netapp.io/protocol
- trident.netap

[2017-04-25 13:55] adkerr commented on #22
Tracked internally by [US2431](https://rally1.rallydev.com/#/47479883219d/detail/userstory/112144057776)

[2017-05-02 09:29] plz opened #23 "Proper way of specifying exportPolicy for a NFS backend"
Could be related to #22 , but according to ndvp [docs](http://netappdvp.readthedocs.io/en/latest/install/ndvp_ontap_config.html) you can specify a defaults section where, for example, you can modify the export policy for all volumes created via ndvp.

Are these set of directives also supported by trident? If so, what's the way of specifying it in the backend configs (also via a defaults section?)

[2017-05-02 20:09] kangarlou commented on #22
Hi. We have intentionally kept storage class definitions generic so that they can be used across the three NetApp platforms (i.e., ONTAP, SolidFire, and E-Series). We may revisit this decision later if there is a compelling use case.

As you mentioned, it's not possible to define the export policy via storage classes, but if all volumes from a given ONTAP backend are going to have the same export

[2017-05-02 20:11] kangarlou commented on #23
Yes, they're supported by Trident in the same way as in nDVP.

[2017-05-11 15:00] sl0n opened #24 "SolidFire backend: 'trident' VAG 64 items limitation"
Hi,

We faced the following limitation on our SolidFire backed, while employing "trident" to provision volumes for Kubernetes:

`ERROR: Failed to Add IQN to VAG. ApiServerError(method_name="AddInitiatorsToVolumeAccessGroup", err_json={"id": 2, "error": {"message": "Exceeded max number of initiators per volumeAccessGroup. volumeAccessGroupID=1 limit=64", "code": 500, "name": "xExceededLimit"}`

The

[2017-05-11 17:37] adkerr commented on #24
Tracked internally by [US2573](https://rally1.rallydev.com/#/47479883219d/detail/userstory/116756509452)

[2017-05-11 18:57] kangarlou commented on #24
Hi. Thanks for bringing the issue to our attention. Here are a couple options worth exploring:

1. Using CHAP authentication instead of or in addition to VAGs.
2. Segmenting a compute cluster to multiple VAGs: Each group of 64 nodes can be assigned to a different VAG. For this to work, the SolidFire backend config file should supply the name of VAG as an argument similar to igroupName for ONTAP SA

[2017-05-12 21:32] j-griffith commented on #24
@sl0n
So you're correct, 64 Initiators per group; 4 groups per volume.  We could come up with some ways to try and distribute better with Trident by using multiple VAG's but I think using CHAP might be a more robust solution here.

There's debate about which security method is preferred, but CHAP tends to make things "easier" in a large scale and dynamic setup.

[2017-05-23 16:20] adkerr opened #25 "test issue"
Test issue, ignore

[2017-05-23 17:34] #25 closed

[2017-05-23 17:34] adkerr opened #26 "Another test issue"
ignore me as well

[2017-05-23 17:45] #26 closed

[2017-05-23 17:46] adkerr opened #27 "One last test issue"
I promise

[2017-05-23 19:22] #27 closed

[2017-05-23 20:02] adkerr opened #28 "Final test"
For today at least

[2017-05-23 20:07] netapp-ci commented on #24
(Comment from NetApp CI):

(Comment from Andrew Kerr):

Tracked internally by [US2573](https://rally1.rallydev.com/#/47479883219d/detail/userstory/116756509452)

[2017-05-23 20:07] netapp-ci commented on #24
(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

Hi. Thanks for bringing the issue to our attention. Here are a couple options worth exploring:

1. Using CHAP authentication instead of or in addition to VAGs.
2. Segmenting a compute cluster to multiple VAGs: Each group of 64 nodes can be assigned to a different VAG. For this to work, the SolidFire backend config file should supply the

[2017-05-23 20:07] netapp-ci commented on #24
(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

Hi. Thanks for bringing the issue to our attention. Here are a couple options worth exploring:

1. Using CHAP authentication instead of or in addition to VAGs.
2. Segmenting a compute cluster to multiple VAGs: Each group of 64 nodes can be assigned to a different VAG. For this to work, the SolidFire backend config file should supply the

[2017-05-23 20:07] netapp-ci commented on #24
(Comment from NetApp CI):

(Comment from John Griffith):

@sl0n So you're correct, 64 Initiators per group; 4 groups per volume. We could come up with some ways to try and distribute better with Trident by using multiple VAG's but I think using CHAP might be a more robust solution here.

There's debate about which security method is preferred, but CHAP tends to make things "easier" in a large scal

[2017-05-23 20:07] netapp-ci commented on #24
(Comment from NetApp CI):

(Comment from Barnacle CI ):

(Comment from NetApp CI):

(Comment from Andrew Kerr):

Tracked internally by [US2573](https://rally1.rallydev.com/#/47479883219d/detail/userstory/116756509452)

[2017-05-23 20:07] netapp-ci commented on #24
(Comment from NetApp CI):

(Comment from Barnacle CI ):

(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

Hi. Thanks for bringing the issue to our attention. Here are a couple options worth exploring:

1. Using CHAP authentication instead of or in addition to VAGs.
2. Segmenting a compute cluster to multiple VAGs: Each group of 64 nodes can be assigned to a different VAG. For this to

[2017-05-23 20:08] netapp-ci commented on #24
(Comment from NetApp CI):

(Comment from Barnacle CI ):

(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

Hi. Thanks for bringing the issue to our attention. Here are a couple options worth exploring:

1. Using CHAP authentication instead of or in addition to VAGs.
2. Segmenting a compute cluster to multiple VAGs: Each group of 64 nodes can be assigned to a different VAG. For this to

[2017-05-23 20:08] netapp-ci commented on #24
(Comment from NetApp CI):

(Comment from Barnacle CI ):

(Comment from NetApp CI):

(Comment from John Griffith):

@sl0n So you're correct, 64 Initiators per group; 4 groups per volume. We could come up with some ways to try and distribute better with Trident by using multiple VAG's but I think using CHAP might be a more robust solution here.

There's debate about which security method is preferre

[2017-05-23 20:20] netapp-ci commented on #28
(Comment from Andrew K):

Test comment

[2017-05-24 14:22] korenaren commented on #28
Marty entering a comment on GitHub

[2017-05-24 16:24] korenaren commented on #23
Answer posted 22 days ago, so closing this issue. If necessary, you can reopen.

[2017-05-24 16:25] #23 closed

[2017-05-24 19:30] netapp-ci commented on #28
(Comment from Marty):

Marty entering a comment in Rally

[2017-05-24 19:33] korenaren commented on #28
Synchronization working between Github and Rally!

[2017-05-24 19:33] #28 closed

[2017-06-01 13:19] labazza opened #29 "Solidfire - Add a new storage class (QOS profile) to running backend"
i tried to modify:
{
    "version": 1,
    "storageDriverName": "solidfire-san",
    "Endpoint": "https://user_trid:uuuuuu@address.com/json-rpc/7.0",
    "SVIP": "10.10.10.10:3260",
    "TenantName": "trident",
    "InitiatorIFace": "default",
    "Types": [{"Type": "Bronze", "Qos": {"minIOPS": 1000, "maxIOPS": 2000, "burstIOPS": 4000}},
              {"Type": "Silver", "Qos": {"minIOPS": 4000, "m

[2017-06-01 22:33] kangarlou commented on #29
Trident allows updating a backend's storage pools subject to some conditions. More specifically, the storage pools in the updated backend should be a superset of storage pools in the old backend so that all storage classes and volumes mapped to the old backend's storage pools are still supported by the updated backend's storage pools. Your example satisfies this requirement. I tried your updated d

[2017-06-02 11:50] labazza commented on #29
thanks for your reply, This is the output
 `Defaulting container name to trident-main.
Use 'oc describe pod/trident-4215269415-xkm6x' to see all of the containers in this pod.
{
  "backend": {
    "name": "solidfire_10.10.10.10",
    "config": {
      "version": 1,
      "storageDriverName": "solidfire-san",
      "storagePrefix": {},
      "TenantName": "trident",
      "EndPoint": "https://sf101

[2017-06-02 21:55] kangarlou commented on #29
Thanks for the additional information. I suspect that you have at least a volume that points to a deleted storage class. Please run the following command for the 9 volumes in your environment:
`oc exec -i trident-12345678-xkm6x -- json-get.sh volume nameOfYourVolume`
For each volume, please check the "storageClass" field. It seems for at least one of your volumes, the storage class is not one of "

[2017-06-06 13:42] labazza commented on #29
thanks for the reply, so we have the following storage classes:
   "netapp-trident-ams4prod-gold",
    "netapp-trident-ams4prod-silver",
    "netapp-nfs",
    "netapp-trident-ams4prod-bronze"

but we have a orphan class "netapp-trident" where most of the volumes are from. This class refers to old trident deployment, the backend has been removed but not yet the volumes. I guess or we need to wait t

[2017-06-06 19:55] dutchiechris commented on #24
Eagerly awaiting this one I just tested in my lab with k8s 1.6.4 with success!

For the TLDR version here is how to do it:

1)	Download the 17.07.0-beta.0 release [https://github.com/NetApp/trident/releases](https://github.com/NetApp/trident/releases) to somewhere with kubectl auth'd to the cluster (I ran from my master)
2)	Untar the software and `cd trident-installer`
3)	Find the namespace of you

[2017-06-07 21:12] kangarlou commented on #29
A deleted storage class explains why you're experiencing this problem. You can't really "delete" a backend while it has volumes associated with it, but you can certainly update the backend, which I think is what you have done. Having said that, the problem is not so much the deleted backend but rather the deleted storage class. I'll work on a patch that wouldn't require you to decommission the vol

[2017-06-08 07:38] labazza commented on #29
ok thanks

[2017-06-13 16:46] Sanjary opened #30 "Making trident take parameters/annotations from PVC, for creating a corresponding PV that points to a specific endpoint"
A single and same NFS share can be declared in multiple PVs and a corresponding PVC can use that. But if we want it in trident way, then trident creates a random PV with non-deterministic endpoint. So, I think it will be a nice to have feature to pass the NFS server and path as annotation or something so that trident creates the PV accordingly. Is anyone working on any similar thing?

PS. This can

[2017-06-13 17:31] kangarlou commented on #30
Trident's main function is to provision new storage, which entails creating a volume on the storage backend and creating the corresponding PV. What you're asking can easily be accomplished by reusing PVCs. For example, you have a PVC called pvc-bronze that gets bound to a PV that is either statically or dynamically provisioned. Once this PVC is bound, you can have multiple pods referring to the sa

[2017-06-13 18:35] Sanjary commented on #30
I agree but my use case is different. I want to acess same pv endpoint from multiple namespace/projects. The I can not re use the pvc in multiple pods in multiple namespaced/projects. Because, pvcs are namespaced/project based. Then thi requirement arises.

[2017-06-13 19:26] kangarlou commented on #30
Your use case does change things, but I should note that PV details are not necessarily exposed to users. For example, in OpenShift, regular users don't have enough privilege to get the details of a PV, so they can't supply that information using a PVC to Trident.

I admit that this type of cross-namespace workflow hasn't been not considered well in Kubernetes. I've had discussions with members of

[2017-06-13 19:44] Sanjary commented on #30
My use case follows this flow: user does not provide/create this pvc/pv. Uses a template that does this for the user. Also I do not need this endpoint for my pv in all namespaces, only in those where this particular type of app is deployed using the template and the template should create the pvc and pv. I was hoping in this scenario if I can pass some kind of annotation with the server and path f

[2017-06-13 20:00] Sanjary commented on #30
Just want to add a bit more of my concern here. For this template to be execute by a dev, I need to give the devs a special custom cluster role like PV-creator which can only create pv and unable to do anything else. But if an annotation can take care of it with the help of trident, then I can get rid of the PV creation handling part and trident can handle the rest.

[2017-06-13 20:15] korenaren commented on #20
Closing based on @kangarlou last comment. Not a bug.

[2017-06-13 20:15] #20 closed

[2017-06-13 20:17] kangarlou commented on #30
I think my previous comment addressed all your concerns.

PVC would be the template through which a user can create PVs pointing to the same volume in different namespaces.

My earlier comment address this concern: "the user doesn't supply the details of the PV in PVC, but instead specifies the namespace(s) where that volume should be accessed from. Trident would then create one PV per namespace a

[2017-06-14 15:23] #15 closed

[2017-06-14 15:24] #24 closed

[2017-06-14 20:08] netapp-ci commented on #13
(Comment from NetApp CI):

(Comment from Carl):

Any thoughts on adding this functionality to the plugin?

[2017-06-14 20:08] netapp-ci commented on #13
(Comment from NetApp CI):

(Comment from bnaylor):

You're going to be pleasantly surprised.... [edit] well, it's possible with the nDVP. I'm not sure if Trident exposes this.

[2017-06-14 20:08] netapp-ci commented on #2
(Comment from NetApp CI):

(Comment from Andrew Kerr):

Tracked internally as [US2505]

[2017-06-14 20:08] netapp-ci commented on #13
(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

Kubernetes doesn't currently support volume snapshots or clones. The good news is that supporting snapshots and creating a volume from a snapshot are currently being discussed in the the Kubernetes Storage SIG. We're watching this space and will add support once APIs and their functions finalize in Kubernetes.

[2017-06-14 20:08] netapp-ci commented on #13
(Comment from NetApp CI):

(Comment from Barnacle CI ):

(Comment from NetApp CI):

(Comment from Carl):

Any thoughts on adding this functionality to the plugin?

[2017-06-14 20:08] netapp-ci commented on #13
(Comment from NetApp CI):

(Comment from Barnacle CI ):

(Comment from NetApp CI):

(Comment from bnaylor):

You're going to be pleasantly surprised.... [edit] well, it's possible with the nDVP. I'm not sure if Trident exposes this.

[2017-06-14 20:09] netapp-ci commented on #13
(Comment from NetApp CI):

(Comment from Barnacle CI ):

(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

Kubernetes doesn't currently support volume snapshots or clones. The good news is that supporting snapshots and creating a volume from a snapshot are currently being discussed in the the Kubernetes Storage SIG. We're watching this space and will add support once APIs and their fun

[2017-06-16 19:31] rileynjohnson opened #31 "Create Multiple iSCSI LUNs in a Single Volume"
Similar to the qtree request for enhancement, this is required for customers to scale OSE.  Trident currently creates one iSCSI lun and one volume per request.  With only 1,000 volumes per controller (12,000 per cluster), this quickly becomes impractical.  If trident created multiple luns per volume we could achieve 98,304 LUNs per cluster.

[2017-06-20 14:10] #29 closed

[2017-06-20 14:31] kangarlou commented on #29
@labazza [v17.07.0-beta.1](https://github.com/NetApp/trident/releases/tag/v17.07.0-beta.1) includes the fix for your problem.

[2017-06-20 20:53] labazza commented on #29
thanks

[2017-06-20 21:02] dutchiechris opened #32 "Trident can get stuck in CrashLoopBackoff if it is restarted while processing a volume delete"
There seems to be a timing issue whereby if Trident restarts (upgrade or otherwise) while it was processing a PV delete it can get stuck in a `CrashLoopBackoff`.

I reproduced with a SolidFire backend by:
1. Creating 300 PVCs which causes Trident to create each of one
1. Delete 300 PVCs which causes Trident to delete each one
    1. While deletes are running (each will take a second or two) delete

[2017-06-20 21:24] kangarlou commented on #32
Thanks Chris! The problem is that the underlying nDVP drivers don't have a consistent behavior during volume deletion. ontap-nas and ontap-san drivers return no error when prompted to delete a nonexistent volume whereas the SolidFire driver returns an error: https://github.com/NetApp/netappdvp/blob/master/storage_drivers/solidfire_san.go#L290

Your observation that the deleted volume list had only

[2017-06-21 02:20] kangarlou commented on #32
Chris, could you please run your test with an ontap-nas or ontap-san backend and report the results? I think the problem is limited to the SolidFire driver and the fix doesn't require any changes to Trident. Thanks!

[2017-06-21 14:39] dutchiechris commented on #32
@kangarlou

I just ran with an ONTAP NAS backend and saw this:
[code]

What is quite odd is the warning msg quite clearly comes from ONTAP yet the final error claims it isn't in the solidfire backend?  Odd.  I just created that vol on the ONTAP system and deleted the trident pod and it restarted and logged the same errors as above again, meanwhile it deleted that vol on ONTAP.  I'm not sure how I

[2017-06-21 18:22] kangarlou commented on #32
The reason you're hitting the same problem as before is because you haven't cleared the state associated with the problematic volume in etcd. Here is how to do it:

1. Bring up the etcd container by itself:
[code]
2. Find the outstanding transaction at the time of the failure:

`$ kubectl exec etcd --  /usr/local/bin/etcdctl --endpoints http://127.0.0.1:8001 ls trident/v1/txn`

In your case, you s

[2017-06-21 19:43] BrianVanEtten opened #33 "512e/4K Block Size for SolidFire Volumes"
All of my Trident provisioned volumes have a block size of 4K and I'm not able to specify 512e. The only way to set this is upon volume creation. Is the ability to choose this block size on the roadmap in the future?

[2017-06-21 20:47] j-griffith commented on #33
This is a bug IMO, we should be setting 512e to true by default.  So, now it's on the roadmap.  I'll work on making this default to 512e with an option to override to 4K.

[2017-06-22 04:34] #32 closed

[2017-06-22 09:26] dutchiechris commented on #32
Using the recipe above I inserted a step 0. `kubectl scale deployment trident --replicas=0` to make sure trident and etcd would stay down to do the etcd edit safely, and then added step 5. with the same and `--replicas=1` to bring it back up.  Also, for clarity, in step 4. do `kubectl delete -f etcd-pod.yaml` to bring the etcd down.  This recipe worked fine and trident started successfullly.

Rese

[2017-06-22 11:50] adkerr commented on #32
We cut the releases from master. If it's merged before the cut it'll be included.

[2017-06-23 14:16] andiMenge opened #34 "sample-input/storage-class-bronze.yaml is missing from the docs"
Hi,
in the `README.md` the folder `sample-input` is referenced multiple times. But the folder is missing from the repo (at least I am unable to find it).

Without the samples it's difficult to write a valid trident storageclass for the solidFire backend.

Best regards,
Andi

[2017-06-23 14:18] adkerr commented on #34
https://github.com/NetApp/trident/tree/master/trident-installer/sample-input

[2017-06-23 14:19] andiMenge commented on #34
that was fast. Thx

[2017-06-23 14:20] adkerr commented on #34
No problem :)

[2017-06-23 14:20] #34 closed

[2017-06-23 14:21] kangarlou commented on #34
Hi. The instructions refer to the sample-input directory that is included in the Trident installer bundle for each release (e.g., [trident-installer-17.07.0-beta.1.tar.gz](https://github.com/NetApp/trident/releases/download/v17.07.0-beta.1/trident-installer-17.07.0-beta.1.tar.gz).)

You should do step 5 before you do step 6:

So you don't have to clone the GitHub repo to access these sample files;

[2017-06-23 15:11] andiMenge commented on #34
@kangarlou I followed the `Deploying As a Pod` instruction and built it from src with custom k8s manifests. Maybe that was a not so good idea....

[2017-06-23 15:31] kangarlou commented on #34
Yes, I recommend that you use the installer bundle because the installer does a lot of things in the background (e.g., creating a volume for Trident itself, creating service accounts, RBAC roles, etc.). Here is the most recent installer:  [trident-installer-17.07.0-beta.1.tar.gz](https://github.com/NetApp/trident/releases/download/v17.07.0-beta.1/trident-installer-17.07.0-beta.1.tar.gz)

[2017-06-27 18:43] rileynjohnson opened #35 "Allow Project to Volume Matching"
When PV's from multiple projects are distributed across netapp volumes, it makes restoration of data impossible.  Being able to specify the netapp volume that an iscsi lun or NFS qtree will reside in would enforce multitenancy, separating each OSE Project (or multiple related Projects) into one or more volumes dedicate for this purpose.  Andrew Sullivan and my client have proved out that label mat

[2017-06-28 21:02] kangarlou commented on #35
Based on how a storage class is defined, Trident does allow limiting the provisioning operation to a single or multiple storage pools. Therefore, supporting your use case is a matter of treating FlexVols as new storage pools for Trident. I'm personally not in favor of passing FlexVol names in PVCs as such infrastructure details are typically not exposed to users. However, as I mentioned, one can a

[2017-07-03 11:53] kapilarora opened #36 "Doc issue: More detailed description for storage attributes of storage class configuration"
The snapshot attribute (under storage attributes) was confusing for one of the customers in this list.
https://github.com/netapp/trident#storage-class-configurations
 Can we add to the description: which are the backends that support snapshots? We can do the same for other parameters e.g. provisioning types and IOPS.

[2017-07-04 12:00] dutchiechris opened #37 "RFE: Allow setting of fsType, format, and mount options"
Allow setting of fsType (ex: ext4, xfs), format options (ex: -b *blocksize*), and mount options for dynamically provisioned volumes.

It could be implemented via Trident annotations or leverage k8s constructs if they become available, see:
* [PR45345](https://github.com/kubernetes/kubernetes/pull/45345)
* [issue37801](https://github.com/kubernetes/kubernetes/issues/37801)
* [mount options](https:/

[2017-07-07 07:30] dutchiechris commented on #21
Just a note that resizing of PVs if capacity of PVC is increased is targeted for k8s 1.8; see https://github.com/kubernetes/features/issues/284 and [Grow design proposal](https://github.com/gnufied/community/blob/91b41028182a5291b4eccbf88f8065f66b2b7eed/contributors/design-proposals/grow-volume-size.md)

In the design proposal it says NFS and iSCSI would not support resize though.  I'm not sure if

[2017-07-10 20:13] dutchiechris opened #39 "trident installer using -n trident-custom does not work correctly if namespace does not yet exist"
Using `trident_installer.sh -n trident-custom` when  `trident-custom` namespace does not  yet exist causes a partial installation.

It looks like this snippet is to blame:
[code]

The `trident-namespace.yaml` file has a hardcoded namespace name of `trident` in it.  To fix there should be a search/replace of that file with the user specified namespace prior to the create.

[2017-07-10 20:22] kangarlou commented on #39
Thanks Chris! Very timely as we're working to get the 17.07.0 release out the door. :)

[2017-07-11 20:24] #33 closed

[2017-07-11 20:24] #37 closed

[2017-07-11 20:24] #39 closed

[2017-07-14 10:44] dutchiechris opened #40 "k8s supports '.' as a valid character in PVC names but Trident fails to provision them"
While creating a PV with a name that had CAPITAL letters in it I received this failure from kube:

[code]

I tested with SolidFire and ONTAP NAS backends and '-' was allowed on both, which in the case of ONTAP meant mapping it to an '_' on the storage system.

I then tested with '.' characters and it failed on both SolidFire and ONTAP.

Trident logs for ONTAP backend:

[code]

Trident logs for Sol

[2017-07-14 14:51] dutchiechris commented on #40
Perfect!  I don't have a blocking need for this now but it would be great if any PVC name that passes the k8s validation check was provisionable by Trident.  Thanks!

[2017-07-14 18:53] dutchiechris opened #41 "update_trident.sh failure "unable to resolve image" with Openshift"
Updating Trident with OpenShift failed:

[code]

After having a look at the update_trident.sh script the problem was in the `oc set image` command. Googling a bit I discovered a couple of interesting stuff in the openshift project:
* https://github.com/openshift/origin/issues/12468
* https://github.com/openshift/origin/pull/10995

So it looks like to use the docker registry (instead of the imagest

[2017-07-14 20:23] dutchiechris opened #42 "Update SolidFire backend to allow CHAP authentication"
As of Trident v17.07.0 when using SolidFire up to 4 volume access groups (VAGs) can be configured; see https://github.com/NetApp/trident/issues/24.  This fix allows the k8s admin to configure up to 74 k8s nodes per VAG, or 256 nodes in total.  Larger k8s cluster sizes are not possible, and managing k8s nodes in those VAGs is a task left to the k8s admin [instead of managed by Trident] which is ext

[2017-07-17 14:58] j-griffith commented on #42
@dutchiechris  so the reason if you recall that we didn't do CHAP to begin with is it wasn't supported in Kubernetes.  The good news is that Kubernetes now has CHAP support in 1.7 so we can work up changes in Trident to make that happen.

The question is "will this help" in your case?  The concern is whether or not your customer will be able to upgrade their deployment any time soon.  It's possibl

[2017-07-18 16:15] sl0n opened #43 "ontap-nas backend: enable support for volume's "percent-snapshot-space" flag"
Currently there is no way to redefine "percent-snapshot-space" (ONTAP's default is 5%) for NAS volumes created by trident. It can cause usable space 'waste" on large scale deployments.

Please consider adding this flag to corresponding backend file definition.

[2017-07-23 08:28] dutchiechris commented on #42
@j-griffith I spoke with the customer needing this feature and their capacity planning projections show they will grow the cluster >256 openshift nodes around the end of 2017.  Checking historic release timelines I expect the OpenShift release built on k8s 1.7 to ship in December or so that does line up. If CHAP support can be added prior to December then NetApp has done its part and the customer

[2017-07-24 09:15] HardikDR opened #44 "ontap-nas: enable support for volume-state propagation to netapp mirror servers from trident"
Provisioner creates the PV corresponding to the PVC immediately , but the actual application takes quite a time to get mounted to the Netapp NFS share.

It looks like this issue is mainly from the Netapp vservers which are configured to propagate the current-state of the volumes to all the Netapp mirror-servers every 5 minutes.(configurable though)
Would it be possible to make a call from trident-

[2017-07-24 10:40] dutchiechris commented on #37
Looks great, thanks!

[code]

[2017-07-24 13:14] dutchiechris commented on #44
Note, there is also a related request for the NetApp Docker Volume Plugin:
https://github.com/NetApp/netappdvp/issues/84

[2017-08-01 06:40] Filirom1 opened #45 "Request for Enhancement - production setup documentation"
Hello,

You did a very great job with Trident, I really appreciate.
However, I am not confident in running Trident in production.

I would appreciate a documentation explaining how to setup an Highly Available Trident, how to secure the communication between Trident and Etcd, how to monitor it and how to backup it.

When using k8s or OpenShift, an Etcd cluster is already running with every product

[2017-08-01 12:21] andiMenge commented on #45
I also would like support for:

- external ETCD Clusters
- external ETCD Clusters with encryption (self signed certs)
- ETCD `v3`APIs
- A single static binary Trident artefact-release for installing in own containers (preferably based on alpine-linux)
- `solidfire-backend-config.json` injectable via k8s configMaps

[2017-08-01 17:06] kangarlou commented on #45
Hi. Thanks for the feedback! Adding support for an external etcd cluster and etcdv3 API is definitely on our roadmap. However, I would like to comment on a couple of things. First, Kubernetes documentation doesn't recommend using the etcd cluster used internally by Kubernetes for other applications and services. Giving Kubernetes apps access to the Kubernetes etcd cluster is equivalent to giving t

[2017-08-01 19:27] robotica72 opened #46 "Reinstall of Trident after cDot crash"
So the short version - my cDot for my my lab crashed and I rebuilt it - I added the mount points back for legacy pods and they all function - but I needed to redeploy my trident appliance and no matter what I try now, it refuses to create anything new.   When I create a storage class, just basic, I keep getting errors like this in the log: (Obviously the big error is : (Kubernetes frontend couldn'

[2017-08-01 19:40] kangarlou commented on #46
When you say "my cDot for my my lab crashed and I rebuilt it", does it mean you lost the volume that was internally used by Trident's etcd component? If the volume is still present, Trident should recover all the information about backends, volumes, and storage classes that it managed before the crash. If you lost the volume, then you should use `tridentctl` to add the backends again. That's why y

[2017-08-01 19:44] robotica72 commented on #46
Thanks for the quick reply - I was just coming back to mention I forgot that step - Its been killing :)   Thanks again....

[2017-08-01 20:07] #46 closed

[2017-08-02 05:12] Filirom1 commented on #45
Hi @kangarlou

Good to know that supporting external Etcd is on the roadmap. Please do not forget to allow client certificates authentication as well, because it's a often used with Etcd, and I personnaly use it this way 😄

I agree with your recommendation about not sharing Etcd with application because of the privilege elevation it implies. However, I do not consider Trident like a user applicati

[2017-08-02 09:57] andiMenge commented on #45
@kangarlou thank you for the detailed explanation. With my cluster engineer perspective I see some things a little bit different. For example the **`ETCDv3` API**:

We use it as the k8s brain and therefore handle the backup mechanism of it very carefully. Using the v3 API for Trident gives us the benefit of having synced backups with the k8s brain. If we use a additional `ETCDv2` API for Trindent

[2017-08-02 13:37] kangarlou commented on #45
@Filirom1 Yes, Trident container is stateless and all the state is managed by etcd, so you just need to back up the state managed by etcd. However, I would caution against deploying more than one instance of Trident as Trident doesn't handle concurrent updates and it caches some of the etcd state. Supporting etcd client certificates is definitely part of supporting external etcd clusters.

@andiMe

[2017-08-02 13:38] andiMenge opened #47 "Trident Installer not working on macOS"
Hi,
I am unable to deploy Trident to my Kubernetes cluster

Specs:
- macOS `10.12.5`
- Kubernetes `v1.6.4`
- `trident-installer-17.07.1`

I see the following **issues** with the install command:

- namespace argument is ignored
- `sed` not working correctly
- errors don't get handled
- no pod gets deployed
- grep not working correctly (uninstall)

install output:
[code]

uninstall output:
[code]

[2017-08-02 19:13] dutchiechris commented on #47
I believe the user utilities in MacOS are BSD based while the ones in Linux are GNU based.  Likely the utilities called by the installer use options that only exist in the GNU ones.  I run (gasp!) Windows 10 on my desktop and use kubectl from it for some tasks, but to run the Trident installer I jump on a k8s cluster node that has kubectl installed.

Since Trident users must have a linux box (k8s

[2017-08-03 11:27] HardikDR commented on #44
Thanks for hint !!

[2017-08-03 16:43] andiMenge commented on #47
@dutchiechris I agree with you. A simple entry in the requirements could be a quick fix. At least for me because I prefer a custom deployment without the installer.

On the other hand, not every admin/engineer has a dedicated linux box with `kubectl` installed or wants to change the state of a production server while pulling some scripts on it.

[2017-08-03 16:53] andiMenge opened #48 "storagePrefix from backend.json is ignored with a SolidFire Backend"
# Problem
The `storagePrefix` in my `backend.json` config for SolidFire is not prepended to the volumes in the backend.

## Details
- API `9.3`
- Trident `17.07.1`

[code]

solidfire-volume-details
<img width="331" alt="solidfire-volume-details" src="https://user-images.githubusercontent.com/12414526/28933311-e9937d72-787c-11e7-9fba-d538c4cefd78.png">

[2017-08-04 07:57] dutchiechris opened #49 "RFE: Allow setting of mount options via annotation"
k8s PVs support [mount options](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options) for NFS and iSCSI volume types.  This request is to allow a user to set the mount options in his PVC and have Trident provision the volume with the mount-options of the PV set accordingly.

As a workaround a user can update the PV manually afterwords, but setting at time of PV creation by

[2017-08-04 07:59] dutchiechris commented on #37
Requested mount options in https://github.com/NetApp/trident/issues/49

Format options are not currently supported by k8s, so this request is withdrawn until support in k8s arrives.

[2017-08-04 08:28] dutchiechris commented on #48
Hi @andiMenge

The actual logic Trident uses to create and destroy storage on the backend arrays is imported from the NetApp Docker Volume Plugin (nDVP).  In nDVP the storagePrefix field ensures that dynamically provisioned storage is not confused with manually provisioned storage.  For ONTAP backends with a SVM shared for multiple purposes it can be quite useful.  With SolidFire though it's unnec

[2017-08-07 14:48] kkzinger opened #50 "Issue when running with docker-compose"
Currently I am running trident with docker and I am using `make docker_run`.
For this to run as intended I had to change docker_compose.yaml.

The change is in the etcd container command.

`command: /usr/local/bin/etcd -name etcd1 -advertise-client-urls http://etcd:2379,http://localhost:2379 -listen-client-urls http://etcd:2379,http://localhost:2379 -data-dir /var/etcd/data  `

-------------------

[2017-08-09 19:47] kangarlou commented on #50
Thanks for the note! etcdv3 takes a different set of arguments than etcdv2. We have updated the [deployment definition](https://github.com/NetApp/trident/blob/master/kubernetes-yaml/trident-deployment.yaml.templ#L32:L47) to use the correct set of arguments but have forgotten to update the Docker Compose file. Just curious, are you using Trident with a non-Kubernetes deployment? Any reason you're n

[2017-08-09 19:51] kangarlou commented on #48
@dutchiechris Your comment is accurate. We need to update README and the sample input files as the `storagePrefix` field has been deprecated for SolidFire.

[2017-08-11 11:03] kkzinger commented on #50
I needed it for testing. I was configuring a Netapp Cluster for usage with Trident and tried to do an end to end test before usage in the kubernetes lab environment.

[2017-08-18 11:03] kaparora opened #51 "DOC Issue: ONTAP and SolidFire user minimum permissions requirements"
Document instructions to create a user for ONTAP and SolidFire with minimum rights /permissions.
(Probably also E-Series, I guess)

I see this is documented for ONTAP in nDVP documentation. Probably we can just point to it?!
For SolidFire we don't have any such documentation available.

A SolidFire user must have "Volume" and "Cluster Admin" permissions and also "Account" permission  if we would l

[2017-08-18 11:17] kapilarora opened #52 "Feature request: Allow Backend Config Json injectable via k8s configMaps"
Explore the possibilities to allow use of K8S ConfigMap instead of Backend Json file to provide Backend Configrations for Trident.

[2017-08-18 11:55] mickeysh commented on #52
I second that plus using secrets for the username and password

[2017-08-18 13:20] kangarlou commented on #52
ConfigMaps and Secrets work just like volumes. For them to be consumed by the Trident pod, they should exist before the creation of the pod. As you see, this is not very useful when storage backends are dynamically added, removed, and updated. Exploring the use of [Custom Resource Definitions](https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/) is on our

[2017-08-30 14:15] kapilarora opened #53 "DOC: tridentctl and namespace name in Quick start guide"
As per the quick start  documentation
I install trident with

and then add backend  with

and get error

Error: could not find a Trident pod.

It works if I use -n trident

tridentctl create backend -f setup/backend.json -n trident

1) Update command to have -n trident option

2) When tridentctl cannot find trident pod..it should say in which namespace/project..and ask the user to verify their nam

[2017-09-05 09:39] kapilarora commented on #2
Do we have any status on this request? Is this being worked ? Still under consideration?

[2017-09-05 12:58] clintonk commented on #2
Hi, Kapil.  Yes, we're working on the scalability question.  Stay tuned.

[2017-09-07 17:42] #52 closed

[2017-09-07 17:55] #30 closed

[2017-09-08 15:12] korenaren commented on #53
Tracked internally as DE400

[2017-09-11 02:16] carlcantprogram opened #54 "Volume mount not visible when creating multiple volumes"
Data ontapp version: 9.1P2

Description: When creating multiple PVCs at the same time, the first volume mounts ok on the NAS. Subsequent volumes are create and mounted on the NAS, but the volume is not able to be accessed at it's mount point.

Steps to recreate:
1. Make an openshift template with multiple PVCs (at least three) all using the same storage class.
2. Add a pod to the template that mou

[2017-09-11 12:42] dutchiechris commented on #54
Volumes are mounted by the corresponding k8s volume plugin (NFS in your case?) but it could still be related to Trident.

Are you using load-sharing mirrors on the SVM root volume?  If yes, it might be that the read replicas are not updated prior to your mount; see https://github.com/NetApp/trident/issues/44.  To test this theory unconfigure any LSM and see if the problem persists.

[2017-09-11 14:56] adkerr commented on #54
@dutchiechris It sounds from his description that it's ONTAP that isn't exposing a mount; which really odd as I think that's all automatic on a NFS enabled vserver.  We will need to investigate and attempt to reproduce

[2017-09-19 21:33] #2 closed

[2017-09-19 21:33] #40 closed

[2017-09-20 09:39] kapilarora commented on #13
Any updates on this?

[2017-09-20 10:50] kapilarora commented on #2
Hi Clinton,
Awesome work!
When is this getting released? Any tentative dates?
Kapil

[2017-09-20 11:27] adkerr commented on #2
We plan to have a beta shortly and it will be included in the 17.10 release (so October release)

[2017-09-21 13:10] kapilarora opened #55 "Sample StorageClass yamls with requiredStorage param should not have other params defined for selection"
When configuring multiple backends and providing snapshot:true with requiredStorage param in a storageclass can lead to inconsistencies in backend selection.
Other params from sample storage class yaml/json files which use requiredStorage param must be removed.

sample-input/storage-class-silver.json
sample-input/storage-class-bronze-default.yaml

[2017-09-21 15:00] #44 closed

[2017-09-22 11:28] sl0n opened #56 "Request for Enhancement: add timestamp for trident's metadata, like volumes, backends."
Hello,

I was debugging an issue recently where a volume, provisioned by trident, couldn't get mounted. I quickly came to realized that doing something like:

`$ tridentctl get volume -o json
`
doesn't provide me with volume creation date / time, and I had to do `tridentctl logs` and scroll through it, however this is of limited capacity.

Generally speaking, I'd say timestamps would be great to h

[2017-09-25 11:47] sl0n opened #57 ""tridentctl get volume .. -o json" prints "fileSystem": "ext4" for NFS volumes"
IMO, it's confusing and demonstrates inconsistent behavior:
1. User creates NFS volume.
2. The requested volume gets successfully created.
3. The user queries for volume properties and gets "fileSystem": "ext4", where "fileSystem": "nfs" is expected.

[2017-09-25 17:53] kangarlou commented on #54
@carlcantprogram We pushed a fix for Issue #44. Please check if [v17.10.0-beta.0](https://github.com/NetApp/trident/releases/tag/v17.10.0-beta.0) addresses the problem you were experiencing.

As @dutchiechris said, Trident delegates mounting/unmounting volumes to Kubernetes/OpenShift. In your case, it seems Trident has correctly provisioned the volume.

[2017-09-28 00:13] #47 closed

[2017-09-28 00:13] #48 closed

[2017-09-28 00:13] #50 closed

[2017-09-28 00:13] #53 closed

[2017-09-28 00:13] #55 closed

[2017-09-28 00:13] #57 closed

[2017-09-28 19:33] dimthe opened #58 "is this NAS compatible with trident ?"
hello

i would like to know if the nas listed below can work with trident.
I have a kube cluster and i am looking for storage
https://www.hetzner.de/storage-box/bx60

[2017-09-28 19:36] adkerr commented on #58
Hi @dimthe,

Trident is currently only compatible with NetApp storage devices. For NAS this is limited to the NetApp ONTAP platform.

[2017-09-28 19:47] dimthe commented on #58
ok i understand @adkerr , no trident for me :(

[2017-09-28 19:56] #58 closed

[2017-09-28 20:05] kangarlou commented on #58
@dimthe You may be able to use https://github.com/kubernetes-incubator/external-storage. I believe the NAS provisioner creates directories/shares as "volumes" under an existing NFS share.

[2017-10-07 09:08] scaleoutsean opened #60 "SolidFire VAGs - change "No" to "Yes" (required) in SF config table"
The table under https://github.com/NetApp/trident#solidfire-configurations says SolidFire Access Groups aren't required, but earlier in README it says VAGs must be created **before** Trident installation. This seems inconsistent.

[2017-10-07 09:49] scaleoutsean opened #61 "Base install instructions on non-default namespace"
It appears that https://github.com/NetApp/trident#getting-started is based on trident being in the default namespace:

"When the installer completes, `kubectl get deployment trident` should show a deployment named trident with a single live replica. Running `kubectl get pod` should show a pod with a name starting with trident- with 2/2 containers running. "

The doc says "it is highly recommended

[2017-10-07 09:52] scaleoutsean opened #62 "Clarify kubectl/oc usage in documentation"
In some template files we have `v1beta1` which should be `v1`.
e.g.: https://github.com/NetApp/trident/blob/b52006d387ac30085173a0586925d33b8e91419b/trident-installer/sample-input/storage-class-ontap-gold.yaml#L1

With that I get:

[code]

Once I fix `storage-class-basic.yaml`, it works fine:

[code]
In case different versions should be used for different K8S, then the doc could be updated to remi

[2017-10-08 19:13] scaleoutsean commented on #62
Later I looked at the Trident install script and noticed that for OpenShift it's supposed to use `v1`. I have OpenShift, but that doesn't get detected (maybe because I have `kubectl`). This may be why `v1beta1` gets used.

[code]

[2017-10-08 19:31] dutchiechris commented on #41
@kangarlou I don't have a lab anymore to test a fix.  Please assign to someone else.  Thanks!

[2017-10-13 23:35] rushins commented on #47
Hello

i get error unable to recognize . i have K8S 1.7 release and trident 17.07.1 "/Users/i811144/rushi/devops/kubernetes/sapinternalprojects/saplama-lvm/virtual-colo-cluster/storageclass/trident-installer/trident-clusterrolebindings-openshift.yaml": no matches for /, Kind=ClusterRoleBinding

here is my install step.

./install_trident.sh -n trident
Installer assumes you have deployed OpenShift.

[2017-10-13 23:38] rushins opened #63 "trident installer failing with no matches for /, Kind=ClusterRoleBinding"
Hello

i have K8S 1.7.3 and trident v17.07.0.

while running install had error with no matches for /, Kind=ClusterRoleBinding

also the installer is looking openshift but not K8S.

./install_trident.sh -n trident
Installer assumes you have deployed OpenShift.
You are running in namespace default.
Trident will be deployed in namespace default.
For maximum security, we recommend running Trident in i

[2017-10-13 23:42] adkerr commented on #63
What OS are you running on? Also, what distribution of kubernetes are you using (openshift, kubeadm, minishift, etc)?

[2017-10-16 14:47] kangarlou commented on #61
If the `-n` option isn't used with tridentctl, tridentctl assumes you have deployed the trident deployment in the current namespace (it doesn't have to be default namespace). If you're in namespace trident, you don't need to use `-n` option. See the description under step 6 in https://github.com/NetApp/trident#getting-started .

We intentionally made the installer work this way to keep the behavio

[2017-10-17 15:33] arndt-netapp opened #64 "The ontap-nas-economy driver should have more intelligent volume placement"
The placement of flexvols by the ontap-nas-economy driver needs to be more intelligent.  The following suggestions are made as a starting point, based on customer feedback for a large scale environment:

1. Allow Trident to be configured so that we only continue to provision qtrees in a flexvol until the underlying aggregate is X percentage full or Y percentage oversubscribed.

2. If multiple aggr

[2017-10-17 15:51] kangarlou commented on #60
The creation of the Access Group is required but specifying the Access Group ID in the backend config JSON is not. If you don't specify an Access Group ID in the backend config, Trident assumes you're using Access Group `trident` and it automatically discovers the ID for that Access Group.

[2017-10-17 15:51] #60 closed

[2017-10-17 16:45] clintonk commented on #64
To be clear, most of these would apply to all ONTAP drivers.  The Trident scheduler is definitely a rich target environment.

[2017-10-17 16:55] kangarlou commented on #62
`storage.k8s.io/v1` was introduced in k8s 1.6. That's why there is another sample input file in the installer bundle called `storage-class-basic-v1.yaml.templ` for 1.6 and later releases. The API resource naming scheme might be different in OpenShift.

If the `oc` binary can be found via $PATH, Trident installer assumes you're running OpenShift and wouldn't care if you have `kubectl` installed on

[2017-10-17 18:57] #36 closed

[2017-10-18 15:57] #3 closed

[2017-10-19 13:22] kangarlou commented on #41
Closing the issue as the update script was deprecated in 9287dc850979b00d39c6f4772fbe105f488a76a8.

[2017-10-19 13:22] #41 closed

[2017-10-24 10:45] kapilarora commented on #31
Do we have any update on this issue? Is this being worked on?

[2017-10-24 13:22] innergy commented on #31
We don't have this in our near-term plans at the moment, but we are tracking demand.

[2017-10-25 12:33] kapilarora opened #65 "Trident doesn't recover from failure if Trident pod is deleted while it was working on a PVC"
Trident doesn't recover if trident pod is deleted while trident is working on PVCs

**Env**
Trident: 17.10
OpenShift Enterprise: 3.6
Docker : 1.12.6

# **Setup:**
multiple ontap-nas backends including ontap-nas-economy
multiple storage classes
1) media type ssd and hdd
2) required storage with aggr
3) backendType ontap-nas-economy

# **Steps to recreate:**
1) run a script to create multiple PVCs i

[2017-10-25 13:54] redbaron commented on #31
Register my interest in this then :)

[2017-10-25 14:04] kangarlou commented on #65
Thanks Kapil. This problem should be limited to the ontap-nas-economy driver. Other drivers should handle pod restarts during volume creation or deletion fine as we made the necessary changes to nDVP such that volume deletion is an idempotent operation. The problem with the ontap-nas-economy driver is that based on the timing of the pod failure, different actions can fail during the cleanup that t

[2017-10-25 15:05] kapilarora commented on #65
@kangarlou FYI, Our test PVCs are not created for ontap nas economy.
But we do have a the economy backed configured.
If you look at the transaction in etcd which is causing the problem. it is for storage class silver which uses requiredStorage and is unrelated to ontap nas economy backend.

[2017-10-25 15:31] kangarlou commented on #65
The only problematic messages in the bootstrapping log are the following:
`time="2017-10-25T12:22:11Z" level=warning msg="Qtree not found." qtree="trident_trident_pvc_silver_7_305ac"
time="2017-10-25T12:22:11Z" level=error msg="Qtree rename failed. API status: failed, Reason: Failed to rename qtree "" for volume "trident_trident_pvc_silver_7_305ac" on Vserver "LTT210". Reason: dst volume not same

[2017-10-25 15:45] kangarlou commented on #65
I can now see what's going on. Even if you're not using the ontap-nas-economy driver, just because such a backend is added to Trident, this driver is involved during the bootstrapping process. This is very similar to https://github.com/NetApp/trident/issues/32. ontap-nas-economy should gracefully handle deletion of volumes that no longer exist (i.e. support idempotency).

[2017-10-26 12:20] pjos commented on #65
@kangarlou if still relevant, here is the storage class definition used:

[code]

[2017-10-30 19:14] #42 closed

[2017-10-30 19:14] #65 closed

[2017-11-02 13:39] #63 closed

[2017-11-03 18:06] kangarlou commented on #62
Closing the issue as per c7e7123f8e5a66c7687cec1bc1e19331b6485513 tridentctl can work with both kubectl and oc.

[2017-11-03 18:06] #62 closed

[2017-11-03 18:06] #61 closed

[2017-11-03 18:07] #54 closed

[2017-11-03 19:41] #45 closed

[2017-11-06 18:25] kangarlou commented on #45
@Filirom1 @andiMenge Trident supports etcdv3 with TLS in release [v18.01.0-beta.0](https://github.com/NetApp/trident/releases/tag/v18.01.0-beta.0). Please see the [docs](https://github.com/NetApp/trident/tree/master/extras/external-etcd) for more information.

Also, in case you want to build your own custom images, Trident installer bundle now includes binaries for Trident and Trident launcher und

[2017-11-07 05:16] scaleoutsean commented on #31
You'd still have the same number of LUNs (volumes) and up to 98K partitions per Element OS cluster, no?

What happens with volume QoS settings in this case? It would seem they'd become "per project" QoS settings, similar to VMware datastores but without QoSSIOC.

[2017-11-07 14:05] adkerr commented on #31
@scaleoutsean this request is directed at ONTAP SAN where you can have multiple LUNs per flexvol.

[2017-11-09 02:42] rushins opened #66 "Unable to mount volumes for pod "trident-launcher_default("
hi

i get this error while doing install...any clue
Unable to mount volumes for pod "trident-launcher_default(

Normal   Started                3m    kubelet, lvvxc023.sjc.sap.corp  Started container
  Warning  FailedMount            1m    kubelet, lvvxc023.sjc.sap.corp  Unable to mount volumes for pod "trident-launcher_default(d8df877a-c4f6-11e7-bd3f-0050568420b4)": timeout expired waiting for vo

[2017-11-09 15:34] adkerr commented on #66
There's a few possibilities of whats going wrong here: there could be a legitimate issue with mounting the volumes from the storage array (have you verified you are able to mount to the host from the array manually?); this could also simply be the mount process being too slow for trident's default timeout (60s). You can adjust this using the `k8s_timeout` option in `trident-installer/launcher-pod.

[2017-11-13 22:21] rushins commented on #66
i checked  and verified my backend.json file user configuration and i have all authroization . as you stated volue, i dont see any volume requested to during setup. Its only storage class which backend.json data needed with management  ip address, data IP addresss, username and password with SVM (storage virtual machine) in NetApp CLuster level access. THe same setup worked for another cluster wit

[2017-11-13 22:39] kangarlou commented on #66
I don't think the problem is trident. Most likely you haven't configured your cluster properly. The only "volumes" attached to the launcher are the ConfigMap and Service Account and the latter seems to be failing, which has nothing to do with Trident or NetApp storage.

Please share the output of `tridentctl logs -l all`.

[2017-11-13 23:14] rushins commented on #66
i am using mac and tridentctl seems not working for me ...does tridentctl binary is available for mAC too.

[2017-11-13 23:21] rushins commented on #66
i get message ./tridentctl : cannot execute binary file error

[2017-11-13 23:28] kangarlou commented on #66
`tridentctl` runs only on Linux: https://netapp-trident.readthedocs.io/en/latest/operations/requirements.html#supported-host-operating-systems

[2017-11-13 23:31] kangarlou opened #67 "Describe arguments to Trident and Trident Launcher binaries in the docs"
The previous version of docs had information about arguments to trident and trident launcher binaries:
https://github.com/NetApp/trident/tree/v17.10.1#command-line-options
https://github.com/NetApp/trident/tree/v17.10.1#trident-launcher

This information should be added to the new docs.

[2017-11-13 23:35] rushins commented on #66
ok i assume the same before asking you. not sure where the error but i keep getting the same message

Unable to mount volumes for pod "trident-launcher_default(c04a45a2-c8ca-11e7-bd49-00505692012d)": timeout expired waiting for volumes to attach/mount for pod "default"/"trident-launcher". list of unattached/unmounted volumes=[config-volume trident-launcher-token-rxsz6]

[2017-11-14 12:16] adkerr commented on #66
I have compiled a Mac version of tridentctl in the past. Let me see if I can make another modern one and find a way to share it.

Andrew Kerr
Test Automation Engineer
Open EcoSystems

NetApp
919.476.4899 Direct Phone
Andrew.Kerr@netapp.com
________________________________
From: rushins <notifications@github.com>
Sent: Tuesday, November 14, 2017 12:35:12 AM
To: NetApp/trident
Cc: Kerr, Andrew; Comm

[2017-11-14 13:21] adkerr commented on #66
Here is the darwin (MAC) compiled tridentctl
[tridentctl.gz](https://github.com/NetApp/trident/files/1470925/tridentctl.gz)

[2017-11-14 15:38] rushins commented on #66
thanks, Andrew.
it works on mac.

[2017-11-15 13:48] willemdh opened #68 "Log aggregation"
Hello,

We are thinking about starting to use Trident. In https://netapp-trident.readthedocs.io/en/latest/reference/tridentctl.html#logs I do not see any option to send logs to an external syslog server (such as the Elastic stack in my case)

Is there any technical reason there is no way to send logs to an external log aggregator? if not, this seem like a good feature to add the option to send Tri

[2017-11-15 13:48] tgoetheyn commented on #68
👍

[2017-11-15 14:06] adkerr commented on #68
Trident writes its logs to the stdout/stderr as recommended by kubernetes. You could use of one of the available solutions like [fluentd](https://docs.fluentd.org/v0.12/articles/kubernetes-fluentd) to forward these logs to elasticsearch.

[2017-11-15 18:39] willemdh commented on #68
Ah good to know. W'll use Logstash to forward them from there. Tx

[2017-11-15 18:39] #68 closed

[2017-12-01 19:10] #66 closed

[2017-12-01 19:11] #22 closed

[2017-12-01 19:51] kincl commented on #22
@kangarlou your answer did fix my problem, thank you! It might be good to add that note about the "defaults" section to docs here in Trident because if I had missed this issue I would not have figured out how to set defaults for a backend.

Thanks!

[2017-12-01 20:00] kangarlou commented on #22
Great! We're planning to add a new section to the docs that captures best practices for writing Trident storage classes . That section should capture what should be set via storage class parameters, backend defaults, or PVC annotations.

[2017-12-08 11:33] redbaron opened #69 "Add multipath support"
Starting from kuberntes 1.6 iSCSI volumes support multipath by specifying extra portals in volume description (see `portals` in https://kubernetes.io/docs/api-reference/v1.8/#iscsivolumesource-v1-core).

Trident should make use of this feature and create volumes with all portals discovered from SVM

[2017-12-13 13:40] rtouillet opened #70 "Solidfire iSCSI CHAP not working"
Hello,
We have a SolidFire cluster version 10 and have deployed the latest Trident version on a Kubernetes 1.7 cluster. Unfortunatly the CHAP setting isn't working during the two phases of the deployement ("UseCHAP": true,):
- during the install_trident.sh deployement -> we must create an access group with some IQNs to be able to start Trident Pods. CHAP isn't working.
- during backend deployment

[2017-12-13 14:44] adkerr commented on #70
You may also want to make sure that user account you're using to communicate with SF has at a minimum the following permissions:

`volumes, accounts, clusterAdmins`

[2017-12-13 15:29] rtouillet commented on #70
Hello Andrew,

Here is our backend definition:

{
    "version": 1,
    "storageDriverName": "solidfire-san",
    "Endpoint": "https://kubernetes:PASSWORD@MVIP/json-rpc/7.0",
    "SVIP": "SVIP:3260",
    "TenantName": "kube-int",
    "UseCHAP": true,
    "Types": [{"Type": "Bronze", "Qos": {"minIOPS": 1000, "maxIOPS": 2000, "burstIOPS": 4000}},
              {"Type": "Silver", "Qos": {"minIOPS": 2

[2017-12-13 15:57] innergy commented on #70
What version of Trident are you using? You can run 'tridentctl version' to find out. CHAP is only available in the 18.01 beta. I'm not sure if we will return an error if you're running an older version of Trident and specify 'UseCHAP', we may just ignore it and use the default (a 'trident' access group), which would explain the behavior you're seeing.

[2017-12-13 15:58] adkerr commented on #70
@innergy You are correct that we will simply ignore it as an unused config option

[2017-12-14 06:44] rtouillet commented on #70
Hello,
Thank your for your reply. We have today version 17.10.1.
So we'll test with version 18.01 to see if it works.
I'll keep you posted.
Many thanks.

[2017-12-14 12:49] korenaren commented on #70
Thanks for confirming your version number. As Garrett mentioned, CHAP is not supported in 17.10. See issue #42 for the earlier requirement for CHAP. Will be great to hear your experience with 18.01 beta, and if that doesn't work, we can re-open this issue. Thanks!

[2017-12-14 12:49] #70 closed

[2017-12-15 09:38] rtouillet commented on #70
@adkerr @korenaren @innergy Chap is working on version 18.01 Beta with SolidFire! Many thanks for your help.

[2017-12-15 18:51] #49 closed

[2017-12-21 15:01] gfranceschi opened #72 "Support storage replication"
Some of our users would like to setup their containerized applications in an active/standby setup, using multiple k8s clusters as sites. We would like to offer them storage replication of the NFS volumes through snapmirror to support that, however currently any trident-provisioned volumes are of course standard volumes that cannot be replication targets. If we setup replication targets by ourselve

[2017-12-21 19:24] sureshvis opened #73 "Large volume creation queue can starve PV requests"
Step 1 : created a PVC (name: test1) with 5 MB, trident warned with below error

Error creating volume. API status: failed, Reason: Size “5MB” (“5242880B”) is too small. Minimum size is “20MB” (“20971520B”).

Step 2: deleted the PVC which was warning from step 1

Step 3: created new PVC with 1GB request (with new PV name: test2), the trident would not create new PV but keep trying to create PV  fr

[2017-12-21 19:54] kangarlou commented on #73
Assuming you meant PVC (not PV) in steps 1, 2, and 3, I went through the steps and didn't encounter any problem. As long as the PVC with the request for a 5MB volume (test1) is around, Trident periodically tries creating a PV for it. Creation of a new PVC (test2), whether after deletion of test1 or before, should proceed with no problem.

As a Trident user, you should only create and delete PVCs,

[2017-12-21 20:00] sureshvis commented on #73
sorry, yes  i meant PVC.

The PVC is deleted, i still see trident trying to create the PV.

[2017-12-21 21:12] kangarlou commented on #73
More information about this issue: Suresh and I confirmed that HOL blocking is not an issue with Stateful Sets at low scale. In Suresh's case, he was creating a Stateful Set with 500 replicas. Because PVCs were requesting for volumes smaller than 20MB, dynamic provisioning was failing for the 500 PVCs. It appeared because Trident reattempts provisioning for the 500 PVCs every 60 seconds, the backl

[2018-01-02 14:32] kapilarora opened #74 "Feature request : Bring an existing Volume into Trident Management"
The ability to bring existing ONTAP/SolidFire volumes into Trident management.

Usecase 1 : Migrate existing workloads to Kubernetes e.g. a Database
Usecase 2: Bring a volume into trident management, clone it and run tests or a data job.

[2018-01-04 00:32] kangarlou commented on #67
The three etcd_v3_* args added in https://github.com/NetApp/trident/commit/d5a7655d9d3fee52faad4f6388ea6fd4d9c19157#diff-04c6e90faac2675aa89e2176d2eec7d8 should also be captured in the docs.

[2018-01-19 17:25] dxlr8r opened #75 "Feature request: reuse volumes"
I would like the ability to reuse an existing volume, that be qtrees or not, also for the temporary backend (installation). I currently target ONTAP NetApps, and we have our own naming and security standards, so having one or more volumes with random generated names and export-policies isn't a good option for us.

So instead of just "storagePrefix" there would also be for example a "storage" param

[2018-01-19 18:34] kangarlou commented on #75
@dxlr8r Please elaborate what you mean by "temporary backend (installation)". Also, what's the purpose of the "storage" parameter and how will it be used?

Trident volumes names is made of storagePrefix, PVC namespace, PVC name, and a portion of the PVC UUID. Fixing the naming scheme can potentially cause a lot of security problems where users in a different namespaces can access each others' volu

[2018-01-19 18:47] kangarlou commented on #75
I should also note that Trident does allow setting the volume name for the volume that it internally uses (the one that is provisioned by Trident installer). To change this volume name, you should set the `-volume_name`  parameter in `launcher-pod.yaml`. This file is shipped as part of the Trident installer bundle. Volume creation in Trident is an idempotent operation, so if the volume already exi

[2018-01-19 20:28] dxlr8r commented on #75
I'm talking about the volume as in:

`dirname /trident_qtree_pool_{storagePrefix}_{random}/{storagePrefix}_{pvc-ns}_{pvc}_{pvc-uuid}`

I want to reuse a qtree, but haven't seen any options for specifing what qtree volume I want to use.

[2018-01-19 20:41] kangarlou commented on #75
If you want to reuse/share a qtree (or any other volume that Trident provisions), you should reuse the PVC that corresponds to that qtree. Considering PVCs are scoped to namespaces, you should be careful that the pods that are going to share a PVC are created in the same namespace.

[2018-01-19 20:42] clintonk commented on #75
Hello, @dxlr8r.  Thanks for the request, and we will consider it.  Please keep in mind that the qtree driver manages the complete lifecycle of the Flexvols that contain the qtrees; that is, it creates Flexvols as needed, and it deletes Flexvols which it created and which no longer contain any qtrees.  So while your request is technically feasible, I wouldn't consider it trivial.  Also, we recommen

[2018-01-22 14:28] dxlr8r opened #76 "Trident 17.10.1 doesn't respect defined export-policy"
Hello, I follow the instructions as per: <https://netapp-trident.readthedocs.io/en/latest/getting-started/deploying-trident.html> and had some issues:

# 4: Install Trident

Here I used this backend.json config:

[code]

Installation didn't work, because it didn't use the supplied export-policy, instead it used "default"; which doesn't expose shares because we want security by default.

After chan

[2018-01-22 14:35] dxlr8r commented on #75
After some more testing, I created 4 pods, each in their own project. This resulted in two flex volumes being made, and each of them having 2 qtree volumes.

For some reason I thought it was one flex volume with qtree per project.

Have you insight on which volume a pod ends up on? Is it random? On how often will it create a new volume?

[2018-01-22 15:01] clintonk commented on #75
You must have multiple aggregates assigned to the SVM you're using for PVs and Trident.  Assuming the requested PVC attributes don't require a different FlexVol, the qtree driver will reuse FlexVols for up to 200 qtrees per FlexVol.  However, the core of Trident chooses from the available pools (i.e. aggregates) at random before invoking the driver, so what you describe sounds about right.  If you

[2018-01-22 15:09] kangarlou commented on #76
Please change "export-policy" to "exportPolicy" and report the result. Here are the description of the fields and some examples: http://netapp-trident.readthedocs.io/en/latest/operations/tasks/backends/ontap.html?#backend-configuration-options

[2018-01-22 15:53] dxlr8r commented on #76
*facepalm* , how could I overlook that? I'll try again and close the case if it works as it should.

[2018-01-22 16:50] dxlr8r commented on #76
That did work for volume created in step 4 and for qtree volumes. But it still creates and uses "trident_qtree_pool_export_policy" for the qtree flex (economy) volume.

Meaning that I can mount this flex volume and view all qtree volumes by default, since "trident_qtree_pool_export_policy" is exposed to 0.0.0.0/0. I can ofcourse alter this export policy. By default I don't think anyone should be a

[2018-01-23 13:36] dxlr8r commented on #76
By default the enclosed qtrees uses the "default" export policy, or the one the user supplied. So by default one has access to them.

I was just raising a consern, if you don't see this as an issue I'll close the case. But I think exposing the flexvolume and thus all the qtree volumes to the world by default is perhaps not the best default settings; even though most of us protect the access with f

[2018-01-23 13:37] dxlr8r commented on #75
Thanks for help, your answers helped a lot and we will continue to try trident outside of lab, and most likely take it into production. 👍

[2018-01-23 13:37] #75 closed

[2018-01-24 16:06] kapilarora opened #77 "Trident uses default storage class (if it exists) to create the trident volume"
Installing Trident in an existing environment with already setup default storage class can results in trident  etcd volume on a non netapp storage system which might not be desired. Can we make sure that trident uses only the backend it is installed with to create the etcd volume.
We just installed Trident in an OpenShift environment  with Gluster as the default Storage class
Trident volume was cr

[2018-01-29 20:12] adkerr opened #78 "RFE: Specify the default min/max/burst IOPS with the SolidFire driver"
_Originally opened by @acsulli as netapp/netappdvp#8_

When creating a volume using the SolidFire driver, and no type is specified during the create process, the SolidFire array will create the volume with a default QoS policy of minimum 50 IOPS, max 15000 IOPS, and burst of 15000 IOPS. It would be better if default values could be specified in the driver config file during startup.

Andrew

[2018-01-29 20:16] adkerr opened #79 "RFE: Ability to specify a Protection Policy"
_Originally opened by @jamespohl as netapp/netappdvp#67_

In our environment we have a filer back up volumes to another filer.

When a docker volume is created with the plugin, the volume is not backed up automatically.

It would be nice to have the ability to specify/create the backup relationship automatically.

---

@innergy:
This hasn't been well-documented yet, but you can specify a snapshot

[2018-01-29 20:19] adkerr opened #80 "HA setup"
_Originally opened by @deuch as netapp/netappdvp#77_

Hello,

We have an issue regarding HA and ONTAP series.

I have 2 NAS, on primary and one backup (with 1h asynchronous replication) on 2 DataCenters.

So in fact, i need 2 config files like those

For DC1
{
"version": 1,
"storageDriverName": "ontap-nas",
"managementLIF": "DNS-adm",
"dataLIF": "DNS-nfs1",
"svm": "SVM-DC1",
"username": "docker",

[2018-01-29 20:22] adkerr opened #81 "SolidFire: Manipulate the Attributes reported for ndvp/trident managed volumes"
_Originally created by @plz as netapp/netappdvp#83_

In our company we use ndvp via trident for our openshift cluster.

It would be good to append extra information to the volume attributes upon creation, like for example the openshift project.

I logged the issue here because I saw solidfire_san.go:Create is the function that actually populates these attributes, but probably trident should be pro

[2018-01-29 20:25] adkerr opened #82 "Support custom FS mount options for SolidFire nDVP volumes"
_Originally created by @scaleoutsean as netapp/netappdvp#99_

Is it possible to add custom filesystem mount options for SF iSCSI devices? Or is that something for which we need to create custom containers?

I see `ext4 rw,relatime,data=ordered` in my container, but I don't need `realtime` (does Docker do?) and I want other stuff (in line with SolidFire best practices) that's not in here.

Edit: wh

[2018-01-29 20:28] adkerr opened #83 "Document uninstallation"
_Originally created by @scaleoutsean as netapp/netappdvp#101_

Plugin uninstallation is not documented. Can it be added?

There are two ways to install, so if one wants to switch from one to another, I suppose it's reasonable to need these steps.

Edit: one reason why I created this issue is that sometimes plugin uninstall doesn't work properly and a host reboot is required (probably a Docker issu

[2018-01-29 20:33] adkerr opened #84 "E-Series support with Embedded API systems"
_Originally created by @plz as netapp/netappdvp#104_

[Current docs](http://netappdvp.readthedocs.io/en/stable/install/ndvp_e_config.html#example-e-series-config-file) have references to systems running behind the E-Series rest proxy, but are systems running the Embedded System Manager(like e2800 family) also supported on netapp dvp?

If so, it would be good to have the documentation stating it, a

[2018-01-29 20:36] adkerr opened #85 "Logical validation of values in config.json"
_Originally created by @scaleoutsean as netapp/netappdvp#105_

I came across this today, using `netapp:17.07` - it seems some values aren't sanity-checked - for example SVIP in the example below:

[code]
Clearly this is a valid JSON file, but the SVIP value is incorrect and results in some interesting problems down the road.

This is similar to netapp/netappdvp#56.

_(edited from original to fix i

[2018-01-29 20:41] adkerr opened #86 "Permission denied to mount fs with docker usernamespace"
_Originally created by @tbouvet as netapp/netappdvp#110_

My docker engine is configured with usernamespace.

I try to mount a netapp volume but an error occurred :

[code]
To reproduce :

- add userns option to the docker daemon
- docker volume create -d netapp --name secondVolume
- docker run --rm -it --volume-driver netapp --volume secondVolume:/my_vol alpine ash

The result is the error.

[2018-01-29 20:46] adkerr opened #87 "Stack deployments fail when using UCP 2.2.5 and Collections"
_Originally created by @lordgnu as netapp/netappdvp#117_

We upgraded to UCP 2.2.5 this morning and suddenly all of our deployments are failing when using the netappdvp plugin and collections. We always seem to get an error similar to this: `failed to update service 7c1e4382_vtest_db-redis: Error response from daemon: located 1 sets of existing volumes named "7c1e4382_vtest_db_redis" with differen

[2018-01-30 08:34] dxlr8r commented on #83
+1 for upgrade procedure

[2018-01-30 13:02] innergy commented on #83
We have this mostly documented already:

Docker upgrade: http://netapp-trident.readthedocs.io/en/stable-v18.01/docker/install/upgrade.html

Kubernetes upgrade and uninstall: http://netapp-trident.readthedocs.io/en/stable-v18.01/kubernetes/operations/tasks/trident.html#updating-trident

The only thing missing is the Docker uninstall, which is simply the standard Docker plugin management method of a

[2018-01-31 13:34] wonderland commented on #72
I guess this would need some coordination from the k8s side as well to really make this work across clusters. This is mentioned in https://github.com/kubernetes/kubernetes/issues/27710

[2018-01-31 14:27] wonderland opened #88 "Feature request: Add Syncmirror to attributes of Ontap aggregate"
For Ontap aggregates, the focus is currently on the media type attribute. Another important distinction ( that often is considered when designing storage classes) is Syncmirror, e.g. the synchronous data replication in Metrocluster.  Trident currently considers aggregates to be of the same quality if they have the same media type, even though one is sync-replicated and the other is not. We can wor

[2018-02-01 15:55] RemyCH commented on #87
+1

[2018-02-03 18:31] scaleoutsean opened #90 "Dead 'Edit on Github' link in Trident docs"
For example, if you go to https://netapp-trident.readthedocs.io/en/stable-v18.01/docker/install/host_config.html#traditional-install-method-docker-1-12 and click on Edit on Github, it's a dead link

[2018-02-03 18:41] adkerr commented on #90
This is a bug with readthedocs. We do not add that link in our docs ourselves. Readthedocs seems to be replacing the `/` in `stable/v18.01` with a `-` which is not how GitHub forms the url. I’m not sure we can actually do anything about this.

[2018-02-04 17:18] scaleoutsean commented on #90
A fix PR has been merged by RTFD, but not yet deployed.

[2018-02-04 17:18] #90 closed

[2018-02-13 20:25] #77 closed

[2018-02-14 09:19] Klaas- opened #91 "Add support for disconnected environments"
Hi,
could you enhance your installer to support a disconnected (openshift-enterprise) environment, ie no access to dockerhub to get the images. You could put the images into your installer :)

Greetings
Klaas

[2018-02-14 15:16] kaparora opened #92 "Feature request: Ability to add custom label to backends and then use them for storage classes"
When adding a backend add ability to add custom labels to the backed e.g. type=performance \
This will enable them to tag their backends and then define storage class with that tag/label selector.

[2018-02-16 02:18] JukieWalsh commented on #87
+1 on this with 2.2.5, did you find any situation that _does_ works consistently?
Possibly pre-creating volume via bundle client side or via ssh to worker/manager?

[2018-02-16 02:22] clintonk commented on #87
This is a Docker issue that affects all external volume plugins.  We're waiting on a fix from Docker that will allow us to update Trident and support this deployment model.

[2018-02-16 02:36] JukieWalsh commented on #87
Yeah for example I'm using cloudstor, I meant to mention that in my comment. I understand it's a docker problem but I was wondering if anyone has a workaround until 2.2.6/3.0.

[2018-02-16 05:19] kcrawley commented on #87
i believe there is no official workaround. we ended up backing up UCP on our test cluster, reinstalling 2.2.4, and restoring from the 2.2.5 backup. our production cluster wasn't impacted since we discovered this issue on our test environment.

our rep @ docker has indicated that a fix for this is in QA, with no official timeline for release.

[2018-02-16 17:53] innergy commented on #87
Docker just added a release note about this: https://docs.docker.com/datacenter/ucp/2.2/guides/release-notes/#version-225

Specifically, under "known issues":

[2018-02-19 11:56] per-steinar opened #93 "Feature request: Be able to define snapshot policy in storage class"
Both ONTAP-SAN and ONTAP-NAS supports provisioning volumes with and without snapshotting enabled based on the snapshot policy configured in the backend or in the PVC. It would be more practical to be able to define the snapshot policy in storage classes because then the storage class can provide all the information about the available snapshot policies.

Today the user need to know about all avail

[2018-02-19 15:25] kangarlou commented on #93
It would be good to address this issue with US2958.

[2018-02-20 08:47] scaleoutsean opened #94 "Tidy up the docs to standardize on plugin version, config file names and aliases"
Too many people get stuck with due to a variety of versions, config file name and plugin aliases strewn around the docs...  Even the file names are sometimes wrong. For example:

* right now, the docs say to `wget trident-18... ` whereas the actual file name is `trident-installer-18....`
* from time to time, in some places version information can be outdated
* Aliases and configuration filenames a

[2018-02-20 10:11] scaleoutsean opened #95 "Unable to reference "release" tags for certain source using the Web interface"
For example, go to https://github.com/NetApp/trident/blob/2a7bd72b5803b439d50af6692613767f5d39b5d6/storage_drivers/solidfire/solidfire_san.go and then pick `stable/v18.01`. I get the 404 error.

Were some references lost in migration?

I know I could download or clone that release, but it's inconvenient.

[2018-02-20 10:35] scaleoutsean commented on #7
Multiple instances of Trident + CHAP (different user for each Trident instance) can do that (assuming two-way CHAP authentication - I haven't yet looked how CHAP is implemented, as one- or two-way auth).

[2018-02-20 11:20] scaleoutsean opened #96 "Incorrect CreatedAt from solidfire-san Docker volume"
* v18.01
* Ubuntu 16.04 x64
* Element OS 10.1

[code]
![image](https://user-images.githubusercontent.com/16622642/36421298-e9be691c-1672-11e8-86ce-ab78eb1b8fb8.png)

[2018-02-20 12:48] adkerr commented on #95
Some areas of the code have been significantly refactored with the merging of ndvp’s and trident’s code bases. In your specific example the storage_drivers/solidfire/solidfire_san.go used to be under a top level “storage” directory. The code has been flattened to remove that directory.

Unfortunately when dealing with major refactors these kinds of broken links when jumping between releases is una

[2018-02-20 12:48] #95 closed

[2018-02-20 15:01] scaleoutsean opened #97 "Enhancement request: QoS retype"
With solidfire-san I can write a script to get the QoS option value for the volume, update QoS and the tag, but it requires an extra, DIY step.

Would it be too much trouble to add this? If a "generic" `docker volume modify` isn't possible, we could still consider  `.. -o from=<source_docker_volume> -o type=<target_qos>` for cloning where it's almost always useful.

[2018-02-20 18:34] scaleoutsean opened #98 "Update copyright year to 2018"
It's ripe for a S&R:

https://github.com/NetApp/trident/search?utf8=%E2%9C%93&q=Copyright+2017+&type=

[2018-02-20 20:08] adkerr commented on #98
I actually have a patch internally that updates all the copyright dates. It is part of a larger refactoring effort so is taking some time to complete, but it's on its way.

[2018-02-23 08:29] per-steinar commented on #31
I am interested in this. We cannot implement ONTAP-SAN backends as long as each LUN needs its own volume.

[2018-02-26 21:19] #98 closed

[2018-03-02 08:47] sdes1480 opened #100 "Request for improvment : better error handling"
This issue is to request better error handling for both the docker plugin as the trident version .
When a user does a docker plugin install and the config file has issues it will not error out and it will instead install the plug in and mark is as not enabled. it's only when deploying a volume that errors will appear but nothing will point to the fact the plugin is not enabled and that the error i

[2018-03-02 17:26] kcrawley commented on #87
They've updated their release notes. Our TAM has conveyed that this issue has a fix undergoing tests at this time.

https://docs.docker.com/datacenter/ucp/2.2/guides/release-notes/#version-225

[2018-03-07 11:27] redbaron opened #101 "Trident should ship Kubernetes FlexVolume plugin instead of using iSCSI PV"
iSCSI PV in kubernetes handles LUN number reuse incorrectly (see https://github.com/kubernetes/kubernetes/issues/59946), but there is zero interest in fixing it.

Until it is fixed, Trident is unsafe to use. One way to overcome it is to stop provisioning iSCSI PVs and use Kubernetes FlexVolumes (https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md) + ship trident Fl

[2018-03-07 15:05] okrause opened #102 "Default size for ontap-nas volume not working"
I am using Trident as Docker plugin and ONTAP Nas host as follows:
{
    "version": 1,
    "storageDriverName": "ontap-nas",
    "managementLIF": "10.0.0.1",
    "dataLIF": "10.0.0.2",
    "svm": "svm_nfs",
    "username": "vsadmin",
    "password": "netapp123",
    "aggregate": "aggr1",
    "defaults": {
      "size": "10G",
      "spaceReserve": "none",
      "exportPolicy": "default"
    }

Whe

[2018-03-07 15:06] okrause commented on #102
plugin version 18.01.

[2018-03-07 15:20] kangarlou commented on #101
Hi @redbaron. Thanks for bringing the issue to our attention. We'll bring up this issue in the next Storage SIG meeting. Flex Plugins are no longer maintained as CSI plugins will be replacing them soon, so fixing the bug upstream seems like the most logical solution to me. NetApp is looking at submitting a patch upstream.

Just curious, what NetApp platform (e.g., ONTAP, SolidFire, E-Series) and w

[2018-03-07 15:33] redbaron commented on #101
AFAIK Flexplugins are shipped as GA and not going anywhere, not until Kubernetes 2.0 at least :)

CSI is alpha and much more complicated.  At the end of the day, I either would work, but FlexPlugins fit niceley with current Trident architecture, all is needed is to provide ~100 lines bash script and create PV object of different type.  Converting Trident to CSI is a much bigger architectural chang

[2018-03-07 18:46] kangarlou commented on #101
@redbaron We have also noticed that the iSCSI driver doesn't delete a device upon detach as there is no rescan following unmount. Once a session is established, a NetApp LUN would appear under `/dev/dis/by-path` (e.g., `/dev/disk/by-path/ip-10.0.207.103:3260-iscsi-iqn.1992-08.com.netapp:sn.b8339c981bd011e8a900080027358c88:vs.2-lun-2`). Upon detaching a volume, the iSCSI plugin doesn't remove this

[2018-03-07 20:45] redbaron commented on #101
Thanks for trying to look into it.  I attributed mount errors to LUN reuse as it was easy for me to draw line from errors we saw when mounting *fresh* PV and lingering SCSI devices, but I have no easily reproducible test case :( Also keep in mind that iSCSI tech is alien to me and device mapper (multipath) is almost beyond comprehension, so I mostly don't know what I am talking about and stabbing

[2018-03-07 20:55] redbaron commented on #101
[code]

why new LUN continues to be /dev/sdk ? where is old /dev/sdk? what is ID_SERIAL of new scsi device?

I done small experiment: created 10 pods with PVCs, deleted them, created again, kubelet seem to have mounted already existing multipath devices from initial creation! but that would mean that new scsi devices are created with same WWIDs! Shouldn't WWID be unique globally  and it time?

aft

[2018-03-08 14:46] redbaron commented on #101
I think I start to understand, what is happening.

 1. LUN X is mapped to host, discovered and sdX device is created
 2. multipathd picks up that device and created multipath device
 3. kubelet mounts multipath device
 4. pod is destroed, PV is destroyed, LUN unmapped
 5. sdX device remains on a node
 6. new LUN X is mapped to host, it is discovered and same sdX device is "reassigned to it"
 7. mu

[2018-03-08 15:55] kangarlou commented on #101
Thanks for more information! We haven't done much testing around multipathing with Trident in Kubernetes, but I can take advantage of multipathing with Trident for Docker (Trident as a Docker Volume Plugin) using the same SVM and initiator that I used in my examples.

I noticed you had earlier created https://github.com/NetApp/trident/issues/69. So can you use multipathing with Trident-provisioned

[2018-03-09 10:52] redbaron commented on #101
yes, if you login to all portals on a host (which reminds me that kubelet shouldn't logout from iSCSI because because it nukes devices discovered from "host" session too , I'll create a ticket for that) before starting kubelet, rescan on one sessions disovers devices from other sessions too.

In my case I run following commands before kubelet starts (found them with trial and error, might not be o

[2018-03-14 23:41] #102 closed

[2018-03-22 08:03] kapilarora opened #103 "Possibility to provide the the images for trident and etcd as part of install script"
Most of the times customers cannot directly pull the images from docker hub as most enterprise environments are secure and don't allow that.
For that reason they have to download and push images to their local secure registry.
They then need to update the trident demployment and launcher  yamls with their local image names.
This is many times not very clear to customers.
The request is to actually

[2018-03-22 08:06] kapilarora opened #104 "ETCD image in case of RedHat OpenShift Container Platform (Enterprise)"
Most OpenShift customers want to use redhat provided/supported etcd image when installing Trident in OpenShift Enterprise (OCP) environment.
e.g. registry.access.redhat.com/rhel7/etcd

How do we enable that for the customers to choose the right etcd image for their deployment?

[2018-03-22 15:18] adkerr commented on #104
I think this should be possible already by updating the yaml files in the installer bundle to point to the rhel7 etcd image. I'm not sure we've tested that it works though.

[2018-03-26 22:28] Routhinator opened #105 "Unable to add exact same backend that was successfully used for Trident install"
I just installed Trident on a fresh kube cluster. The initial install with the temporary backend went well and I see it's config volume `trident_trident` in the SVM.

However, continuing with the docs I tried to add that backend to the config after install using the exact same file and it fails:

**tridenctl -n netapp-trident logs:**
[code]

**setup/backend.json:**
[code]

I don't understand why i

[2018-03-27 13:04] adkerr commented on #105
Reusing the same backend should work fine. We do it all the time internally, even our CI system does this.

Can you verify that your system responds to the ZAPI call properly?

On your Kubernetes host, create a file `system-get-version.xml` with the following contents
[code]

Then use this curl command `curl -k -X POST -d @./system-get-version.xml https://vsadmin:password@192.168.10.14/servlets/ne

[2018-03-27 15:15] Routhinator commented on #105
@adkerr Thanks for helping. The answer seems to be yes, it responds to the ZAPI call:

[code]

[2018-03-27 15:28] clintonk commented on #105
@Routhinator, what do you see if you run 'tridentctl logs' ?

[2018-03-27 16:52] Routhinator commented on #105
@clintonk That is in the original post. First code block is the tridentctl logs output.

[2018-03-27 17:02] clintonk commented on #105
@Routhinator OK, can you check connectivity to the storage from within the Trident pod?

[code]

[2018-03-27 17:25] Routhinator commented on #105
@clintonk Works:

[code]

[2018-03-27 17:33] Routhinator commented on #105
Ran some more tests.. don't know what it means yet but it seems that the pod can only connect to the SVM over port 22, 80 and 443 timeout, but 80 and 443 work from the host....

[code]

[2018-03-27 17:34] Routhinator commented on #105
For the record this is a dedicated SAN/NAS network with no firewall. So there should be no issue.

[2018-03-28 15:59] Routhinator commented on #105
Anyone have any ideas on this? Why would a pod not be able to reach certain ports like this? I could think it was a kube routing issue, but port 22 works, so this is port specific with this pod. It doesn't affect the host, and the installer pod was able to access this fine in order for me to get this far.

Is this a bug? Should I just remove the pod and try again?

[2018-03-28 20:47] Routhinator commented on #105
I destroyed the pod and recreated it and it was able to add the backed. Looks like there was some kind of bug with the original pod.

[2018-03-28 20:48] Routhinator commented on #105
I let the maintainers decide if this was on the Kube side or a possible setup bug and close as appropriate.

[2018-03-28 21:58] adkerr commented on #105
It certainly _feels_ like a k8s issue, since the bootstrap pod, host, and subsequent pod were all able to communicate to the filer without issue.

@kangarlou, any reason not to close this?

[2018-03-28 22:55] kangarlou commented on #105
I doubt the issue is related to Trident. I'm fine with closing the issue. We can reopen it if the problem happens again.
@Routhinator What network plugin are you using?

[2018-03-29 13:25] kaparora opened #106 "Protecting Storage system credentials from the K8S/OpenShift admin"
Usecase:
Service  provider Managed OpenShift/K8S.
Service provider creates an account for openshift env.
Customer has cluster rights for the openshift/k8s cluster
Service Provider would not like the user to see SF credentials as that gices access to other accounts

possible solution:
1) encrypt credentials in db (i am not sure if this is good enough though) where will be the encryption key?
2) SF

[2018-04-04 20:01] #83 closed

[2018-04-04 20:05] #105 closed

[2018-04-04 20:06] #76 closed

[2018-04-04 20:15] adkerr commented on #67
http://netapp-trident.readthedocs.io/en/stable-v18.01/reference/trident.html

[2018-04-04 20:15] #67 closed

[2018-04-04 20:16] #104 closed

[2018-04-04 20:34] clintonk commented on #103
Hi, Kapil.  Trident 18.04 will contain a completely rewritten installer, and it should support this use case.

A few notes:
- Launcher is gone, as are the install/uninstall scripts
- tridentctl handles the installation
- 'tridentctl' offers two arguments, --generate-custom-yaml and --use-custom-yaml, that allow you to customize the Trident deployment, including the image names for the trident-main

[2018-04-05 11:08] kapilarora commented on #103
Sure, when will the beta be out?
Thanks Clinton!

[2018-04-05 12:44] adkerr commented on #103
18.04 is due out this month

[2018-04-05 17:14] litroma commented on #74
It's an expectation for three of my customer : BNP, ORANGE (two G100 account) and BPCE another major Bank account in France

[2018-04-05 17:19] oliviermasson commented on #74
Hello,

It's an expectation for three of my customer : BNP and ORANGE (two G100 accounts) and BPCE

[2018-04-05 17:40] acsulli opened #107 "Compatibility with Docker Kubernetes"
Using Trident for Kubernetes with the [Docker Kubernetes](https://www.docker.com/kubernetes) provides a consistent experience for containers deployed across different value-add platforms built on Kubernetes.

It is understood that "fully supported" and "tested and believed to work" are not the same thing.  Additionally, this request is specifically for Kubernetes + UCP leveraging Trident's k8s int

[2018-04-09 11:27] trulleberg commented on #93
+1 from me! We would need the same feature

[2018-04-10 14:26] acsulli commented on #21
+1 for this from a(nother) customer.

Also, the Kubernetes feature request @dutchiechris referenced has been updated to reflect target timelines (1.11 beta, 1.12 GA).

[2018-04-11 03:03] wavezhang commented on #21
+1,  we need this feature too

[2018-04-12 11:40] si-heger commented on #74
The ability to "import" volumes into kubernetes via trident is also an important use case for inter-kubernetes-cluster ability to move volumes.

Many customers operate multiple kubernetes clusters e.g . one for dev, one for test, one for prod etc. Sometimes it would be useful to be able to "move" a volume from one cluster to the next. For that some kind of "import" functionality would be the first

[2018-04-12 14:42] acsulli opened #108 "Assign QoS policies to ONTAP volumes provisioned by Trident"
To support multiple service levels, such as those defined as the result of a Service Management Workshop, Trident should create a QoS policy and assign it to the volume when it is created.  At a minimum, this should support QoS maximums, ideally support for QoS minimums and Adaptive QoS policies would also be available.

[2018-04-12 14:44] acsulli opened #109 "Liveness and Readiness Probes"
To support HA of the Trident pod, [liveness and readiness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/) should be defined for both the Trident and etcd containers.

[2018-04-12 15:12] acsulli opened #110 "Trident CPU and memory resource requests/limits"
To ensure appropriate scheduling and resource allocation, the Trident deployment should define [CPU](https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/) and [memory](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/) requests and limits for the Trident and etcd containers.

[2018-04-13 08:05] hendrikland commented on #64
Well, if we talk about placement logic, I'll add a few more items to consider (based on actual customer requirements):

* Number of volumes on a node (since Ontap has logical limits that you don't want to exceed)
* Node which holds the LIF for the SVM (in order to avoid indirect data access for best performance)
* Provisioned IOPS (via adapative QoS concept) on the node/aggregate

Combined with th

[2018-04-13 08:35] si-heger opened #111 "Bug: Trident stores incorrect volume count for backend"
I have the following situation: Standard K8S cluster with trident 18.01.00 (client and server).

I created one backend with ONTAP 9.3 - svm1 which has access to 3 x aggregates (ssd, hybrid and hdd)

Here is the backend definition:
`{
    "version": 1,
    "storageDriverName": "ontap-nas",
    "managementLIF": "172.20.xx",
    "dataLIF": "172.20.xx",
    "svm": "svm1",
    "username": "vsadmin",

[2018-04-13 14:34] kangarlou commented on #111
@si-heger Thanks for creating this issue! We have already fixed this bug. You should see the correct behavior in the 18.04 release.

[2018-04-18 07:10] r0ss3 opened #112 "SVM has no assigned aggregates"
Hi, I'm trying to setup trident in kubernetes with our ontap nas, and I'm running into a problem.

I configured a user on the netapp based on the info in docs/docker/install/ndvp_ontap_config.rst, so I'm not using a full admin user.  When adding the backend, I get this error:

time="2018-04-17T12:29:21Z" level=warning msg="Could not determine controller serial numbers. API status: failed, Reason:

[2018-04-18 08:48] si-heger commented on #112
Most likely your SVM tda01 has simply no data aggregates assigned :) Check in your ONTAP with
`vserver show -vserver tda01` if there are any entries in the property `List of Aggregates Assigned`

If that is empty then you should give your SVM access to at least one aggregate with
`vserver modify -vserver tda01 -aggr-list [list at least one aggregate]`

Background is that trident tries to create a

[2018-04-18 09:27] r0ss3 commented on #112
Hm, I was sure there was one because the output  vserver show -vserver tda01 shows:

Aggregate: tda01_data1

But it also shows

List of Aggregates Assigned: -

So if the assigned list is what trident needs, I guess you are right :)

Can an aggregate be assigned to 2 different vservers?  Because it seems we have 2 vservers using the same aggregate.  And we plan to use trident with both vservers...

[2018-04-18 09:44] si-heger commented on #112
Sure, one aggregate can be assigned to many vservers/SVMs. In smaller environments where only one or two data aggregates exist I would usually assign all aggregates to all SVMs.

Your last sentence is more an architecture and design topic. In my opinion if you have one Kubernetes cluster with one trident installation in it then I would only create one backend (which points to one SVM). So one trid

[2018-04-18 09:51] r0ss3 commented on #112
Thanks a lot for your quick response.  We have multiple kubernetes/openshift clusters, and the non-pro clusters will connect to different vservers in the same DC.  More a logical separation than anything else, just to mirror the production setup which runs in different DC's

[2018-04-18 13:16] r0ss3 commented on #112
I'm not too familiar with the ontap side of things, but it makes sense.

I added the one available aggregate to both vservers with

vserver modify -vserver tda01 -aggr-list tda01_data1

And i added the backend successfully now.  Thanks for the assistence.

[2018-04-18 13:16] #112 closed

[2018-04-18 15:14] acsulli opened #113 "Disable setting features in PVC definition"
Currently, storage features such as snapshot policy, export policy, etc. can be configured with a default in the backend definition, but that can be overridden at any time in the PVC.  Sometimes it's desirable to prevent the PVC from overriding specific settings for several reasons: security, supportability, control.

Having the ability to disable, or provide a predefined set of approved values, f

[2018-04-18 17:12] acsulli opened #114 "Ansible for Trident deployment and management"
Kubernetes and OpenShift both have Ansible playbooks for deployment and management of the cluster.  Having playbooks which can be used to deploy, configure, and manage Trident as a part of that would enabled end-to-end hands off deployment of the solution.  Ideally, functionality would include:

- Install
- Upgrade
- Add/remove backend
- Verify backends are present with expected configuration opti

[2018-04-18 17:17] acsulli opened #115 "Backend configuration validator"
Having Trident (`tridentctl`?) validate a backend configuration prior to deployment would be helpful for speeding up the deployment and management of storage resources.  In particular this functionality could include:

- Valid JSON with valid options
- Storage connectivity
- Storage system permissions are adequate
- Storage system configuration is adequate, e.g. aggregates assigned, export policy

[2018-04-18 17:56] clintonk commented on #115
Much of this is already present in the 18.04 installer.  If the installer (now part of tridentctl) must provision a new PV for itself, it loads the backend.json config file and starts the corresponding storage driver; if that doesn't succeed then the installation is aborted.  With that in mind, can you restate the request for anything you feel might be missing?

[2018-04-18 21:03] acsulli commented on #115
Can that logic be applied when adding a backend after Trident installation? Think along the lines of a "dry run" for adding a backend.

[2018-04-18 21:15] clintonk commented on #115
@acsulli We could do that as an option, but I wouldn't do it all the time since the host running tridentctl may not have connectivity to the storage control plane.

[2018-04-18 21:25] acsulli commented on #115
Understood : )

[2018-04-19 10:11] randrewedwards opened #116 "Trident installer API does not match expected API Version - K8s"
Hi all,

I'm having issues deploying trident onto my K8s cluster and getting the following error.

[code]

I'm running this via OSX and have had to update the install script as there are a few options for some functions that do not exist. For example:
Original

[code]
Updated
[code]

Here's some info about our current k8s and what I'm trying to achieve -

We’re using the Rancher Distro so we're at

[2018-04-20 08:04] r0ss3 opened #117 "Error creating Flexvol for qtree."
Hi,

When provisioning the our first qtree with the ontap-nas-economy driver, we run into the problem that the flexvol for the qtree cannot be provisioned due to a '-' in the name.

I think trident usually maps invalid characters like '.' and '-' to '_' , but it looks like this is not the case for the name of the flexvol where the qtree is to be created.

Can this be fixed? Is there a way to creat

[2018-04-20 11:14] adkerr commented on #117
For an immediate fix you can update your backend in trident to change the `-`s in your storage prefix to `_`s and it should work fine. Changing the json file you originally used with the updated prefix and “adding” the backend again will update the existing driver.

I know that Trident will convert `.`s but I’m less confident about `-`s. It’s certainly something we can look into.

[2018-04-20 11:27] r0ss3 commented on #117
aha, I was under the impression it used the namespacename for the flexvol name, which also includes -s in my case.  But you're right, it works when the storagePrefix does not contain -s.

thanks!

[2018-04-20 11:27] #117 closed

[2018-04-20 14:44] kangarlou commented on #93
@per-steinar @trulleberg @kapilarora @si-heger We have made the decision to keep the storage class definitions generic so that they're not tied to a specific platform (e.g., ONTAP, SolidFire, E-Series). Snapshot policy is currently only supported by ONTAP backends, so we couldn't make it a storage class parameter. However, starting with [release 18.04](https://github.com/NetApp/trident/releases/ta

[2018-04-23 10:34] kapilarora commented on #110
+1

[2018-04-23 11:07] randrewedwards commented on #116
Now trying with the latest release on Ubuntu. Will close this issue if it's working.

[2018-04-23 13:46] randrewedwards commented on #116
New release is working perfectly. Good job guys 👍

[2018-04-23 13:46] #116 closed

[2018-04-23 19:26] acsulli opened #118 "Additional flexibility when identifying storage pools in Storage Class definition"
Storage pool selection is currently limited to statically specifying the pools desired using either the `storagePools` or `additionalStoragePools` attributes in the storage class definition.  To enable greater flexibility, having a number of other selection (or exclusion) criteria would be ideal:

- Specify all pools from a backend.  For example, using an asterisks or simply leaving the list empty

[2018-04-24 19:55] ikruglov opened #119 "trident says "iscsiadm: No records found" "exit status 21" when removing PVC"
Hi,
Opening this issue as agree in #containers slack channel. In general things works but when I remove a PVC I spotted following records in trident logs:
[code]

according to @clintonk it happens because:

I run trident 18.04.0 on kubernetes 1.9.7. We have solidfire backend. We run trident on a master node (i.e. as binary, not as pod). We start it using following command:
[code]

so opening this

[2018-04-25 08:39] kapilarora opened #120 "Unable to install v18.04 on OpenShift 3.9"
we followed the installations steps described at https://netapp-trident.readthedocs.io/en/stable-v18.04/kubernetes/deploying.html#download-extract-the-installer

we starting the installation on the master.
[code]
while the the container is running we got the following output inside the container
[code]
the events regarding the namespace are
[code]

[2018-04-25 08:40] kapilarora commented on #120
[trident-logs-all.log](https://github.com/NetApp/trident/files/1946176/trident-logs-all.log)
Attached trident logs

[2018-04-25 18:15] acsulli opened #121 "Trident Metrics Reporting"
Surfacing metrics surrounding Trident operations and functionality would benefit monitoring and other reporting for organizations which desire to track utilization.  Importantly, this request is not for monitoring storage metrics, e.g. LUN/export IOPS or latency, but rather Trident specific actions such as:

- Number of volumes created/destroyed
- Volumes in use on a per-backend basis
- Time to pr

[2018-04-25 21:43] plz commented on #121
+1, thanks for capturing the requirement @acsulli

[2018-04-26 08:17] ikruglov commented on #121
Hi! I would also propose:
* Errors during creation/destroying volumes? (at least just a counter)

[2018-04-27 07:49] laxvik opened #122 "Support for IPv6"
Looking for support of IPv6 in Trident, to be able to deploy it in IPv6 environments (running Kubernetes v1.9+).

[2018-04-27 15:11] acsulli opened #123 "Use a env variable or file for the `tridentctl` configuration parameters"
Rather than having to provide the namespace to `tridentctl` for every command, allow the use of an environment variable or config file (e.g. `~/.trident`).

Additionally, being able to provide different Kubernetes config and context values to `tridentctl` would make it easier to manage multiple clusters.

Andrew

[2018-05-03 13:15] Klaas- commented on #103
I think this would pair fine with #91

[2018-05-04 09:26] acsulli commented on #31
+1 for this on behalf of a customer.  They are under additional volume count pressure as a result of MetroCluster.

Andrew

[2018-05-11 01:52] CalvinHartwell opened #124 "Trident install with NetApp Cloud Manager generates volume which is not exposed through NFS"
Hi all,

I'm hitting an issue when using the Trident install with the NetApp Cloud Manager. When I run tridnet install, trident creates its initial volume on the NetApp cloud manager called trident_trident:

![trident storage](https://raw.githubusercontent.com/CanonicalLtd/canonical-kubernetes-third-party-integrations/master/cdk-netapp-trident/images/NetApp-OnCommand-CloudManagerGUI-wkenv-NOMOUNT.

[2018-05-11 11:29] adkerr commented on #124
Another option could be to set a default export policy in your backend.json file to points to an appropriate custom export policy on the filer. That way you don’t have to expose all non-trident volumes by default (this is slightly more secure than the opening the `default` policy)

[2018-05-11 11:46] CalvinHartwell commented on #124
@adkerr thanks for the quick reply, do you know how to set the default SVM policy within the cloud manager?

[2018-05-11 12:12] adkerr commented on #124
@CalvinHartwell I’m afraid I’m not familiar with Cloud Manager. I know how to do it in straight ONTAP. Sorry

[2018-05-11 12:45] CalvinHartwell commented on #124
@adkerr no worries, but it would be good to get this integration seemless. Is there any chance you could flag this at your end? I don't think you can actually set what you require using the Cloud Manager so it seems like a feature request for that product. I can use the official channels if required.

[2018-05-11 19:17] adkerr commented on #124
Official channels would be best for the cloud manager product. I don’t personally have any contacts there and external requests usually get more weight anyway.

[2018-05-12 04:42] phoebegoh commented on #124
It would be good if it were possible to specify the export policy for the trident_trident volume during installation, perhaps.  I encountered this last week as well and it wasn't clear why the install had failed.  The assumption that the default policy on the SVM allows access is the opposite of what OCCM defaults to which is that default=no access.  (It creates a policy per volume).

@CalvinHartw

[2018-05-12 22:41] CalvinHartwell commented on #124
thanks @phoebegoh !

@adkerr @phoebegoh do you have an example backend file for multiple OnTAP devices?

[2018-05-13 12:33] adkerr commented on #124
@CalvinHartwell you have 1 backend file per backend. You can then add multiple backends to trident using the various files

[2018-05-13 13:01] innergy commented on #124
You should be able to specify the export policy used for Trident’s metadata volume using the “exportPolicy” field in the “defaults” section of the backend configuration that you use during installation. Is that not working?

http://netapp-trident.readthedocs.io/en/stable-v18.04/kubernetes/operations/tasks/backends/ontap.html#backend-configuration-options

[2018-05-13 17:49] innergy commented on #124
@CalvinHartwell Apologies, I was responding to @adkerr, where he suggested that Trident required a properly configured `default` export policy, but even for the metadata volume you can specify any export policy of your choosing, and that's the one that Trident will use when it provisions the volume.

Cloud Manager actually creates an export policy for the whole SVM when you first configure it:

![

[2018-05-13 20:51] CalvinHartwell commented on #124
@innergy thanks for the reply, very useful information. Hopefully I will test this out one evening this week and update my guide + this Issue. I think I can get it to work but like you said, Cloud Manager generates an export policy and I'm not sure how to check it - I can probably work this out now given some time.

I understand the storage pool concept and the attributes for the backend, but I'm

[2018-05-16 11:54] CalvinHartwell opened #125 "Netapp Trident not parsing response from NetApp OnTAP 9.3 after PV creation"
Hi all,

Not a critical bug but Trident is not parsing some of the responses back from the NetApp OnTAP device correctly after PV creation:

[code]

RAW: [https://gist.githubusercontent.com/CalvinHartwell/e46c5c8d31a3670546c160c5da1abb39/raw/f1f599d2ec6993f87e020a6f318c12627a4843ec/gistfile1.txt](https://gist.githubusercontent.com/CalvinHartwell/e46c5c8d31a3670546c160c5da1abb39/raw/f1f599d2ec6993f

[2018-05-16 11:59] adkerr commented on #125
@CalvinHartwell this is a known issue and the message is benign. It’s a side effect of some autogenerated api code.

[2018-05-16 16:01] clintonk commented on #125
@CalvinHartwell Which version of Trident are you using?  This log warning should have been suppressed in 18.04.

[2018-05-17 09:47] acsulli opened #126 "Failed deletes should not prevent volume creation"
When Trident attempts to delete a storage volume, and fails, that should not cause it to ignore other operations until successful.  An example scenario:

1) Create a PVC, resulting in a storage system volume created as expected.
1) Create a replication relationship on that volume using some external method, e.g. CLI or the GUI for ONTAP/SolidFire.
1) Delete the PVC, which will result in Trident fa

[2018-05-17 20:02] jkonline commented on #120
having the same issue was this ever resolved

[2018-05-18 14:32] kapilarora commented on #120
Today we got Trident running with iSCSI (onatp-san) driver.
Everything works fine from installation to provisioning to mounting and consuming storage.

We added NFS as a backend to trident and used it for a mysql deployment.
MySql doesn’t work either like ETCD with NFS backend.
Here are the logs:
=> sourcing 20-validate-variables.sh ...
=> sourcing 25-validate-replication-variables.sh ...
=> sourc

[2018-05-18 15:20] rverpillot commented on #86
Same issue with user namespace enabled and Trident plugin 18.04
Can't run container after installing this plugin. Moreover we must reboot the VM after disabling it to start containers.

[2018-05-18 19:14] innergy commented on #120
We're definitely not seeing this in general. Our CI tests with this combination, the same versions. In cases like these there is usually a configuration issue either on the host or on the storage backend that's getting in the way. Troubleshooting this over GitHub would likely require a great deal of back and forth, therefore my suggestion would be to open up a case so that we can work through it l

[2018-05-19 00:11] jkonline commented on #120
@kapilarora
How did you resolve this error on the initial install:
DEBU Invoking tunneled command: oc exec trident-cdd5fc7b4-ls8h4 -n netapp2 -c trident-main --tridentctl
DEBU REST interface not yet up, waiting.

[2018-05-22 17:56] jacobjohnanda commented on #120
Having an issue with Trident 18.04 Install with  Openshift 3.7 as well.

[2018-05-23 07:20] rverpillot opened #127 "Docker CE 18.03 version supported ?"
Are recent versions of docker CE supported ?
The versions requirements in the documentation site are 17.12 and older, and docker-ce 18.06 will be released soon.

[2018-05-23 07:37] wavezhang commented on #109
you can do it yourself,
[ for version 18.04.0, and need some changes for other version  ]
use the following command to generate yaml files used:
[code]
, you will see there is a ```trident-deployment.yaml``` under ```setup```dir

add following lines to configure livenessprobe.
for the ```trident-main``` contianer:
[code]
for ```etcd``` container:
[code]

[2018-05-23 10:38] adkerr commented on #127
Docker CE 18.03.1 is supported. There is a critical bug in 18.03.0 and it should not be used with our plugin.

[2018-05-23 11:49] adkerr commented on #127
I should also mention we test with the latest edge branch in our CI, so we also support 18.04 and 18.05 currently as well.

[2018-05-23 19:57] clintonk commented on #109
@wavezhang Thanks for chiming in.  We're working to get liveness probes into an upcoming release.  Be careful with the timeout value on the trident-main container!  Most operations, including listing backends, are protected by a shared lock in Trident's core.  The Kubernetes liveness probe timeout defaults to 1 second which would not be long enough if the REST call is held off by another operation

[2018-05-24 07:08] wavezhang commented on #109
@clintonk 90 seconds a  little long for our application, can this be optimized?

[2018-05-24 13:40] wavezhang commented on #114
I've just made  a pssh one which can deploy and configure Triedent with one click.
See https://github.com/wavezhang/trident-deploy.

[2018-05-24 13:45] innergy commented on #114
That's awesome! I'd love to hear what people think.

[2018-05-24 14:41] clintonk commented on #109
@wavezhang 90 seconds is a worst case that we only see during heavy stress tests on older hardware.  You shouldn't see delays of more than a few seconds during typical operation.  But the default of 1 second is definitely too short, since creating a Flexvol or other storage operations can take more than that.  You might try something like 15 seconds to start with and watch for any probe-triggered

[2018-05-24 17:31] clintonk commented on #11
@oz123 Can you provide more details of what you are seeing?  I just installed Trident 18.04 without issue on ONTAP Select 9.3, and we routinely test Trident with ONTAP Select.

I do see the warning about the unknown vmdisk media type, and I can get that fixed for the next release, but that should not prevent you from installing or using Trident (unless you have storage classes that specifically re

[2018-05-25 01:47] wavezhang commented on #109
@clintonk What happens if I restart pod while there running operations? Will everything recover after pod restart?

[2018-05-25 04:20] clintonk commented on #109
@wavezhang Operations like volume creations are wrapped with transactions so they are unwound cleanly if Trident restarts before completion.  And Kubernetes is an "eventually consistent" system that continually tries to make its current state consistent with the desired state.  Likewise, Trident would just retry any failed operation shortly after restarting.

[2018-05-25 13:34] oz123 commented on #11
@clintonk

Here some info of my setup:
[code]
my config is:
[code]

The log says `time="2018-05-25T13:27:48Z" level=info msg="trident bootstrapped successfully."`

Which isn't very helpful together with a warning about a none found key.
I am a total noob in NetApp ... I actually need to talk to people who have no clue about kuberentes here so we kind of struggle to understand how to use trident.

[2018-05-25 13:48] clintonk commented on #11
@oz123 You don't appear to be using the latest Trident release.  18.04 has an all-new installer that's easier to use and debug, and the ephemeral pod is no longer needed.  I suggest grabbing that and retrying.

Your backend.json file seems OK.  I assume your 'kubernetes' export policy includes rules that allows any host in your K8S cluster to mount the NFS volumes that Trident creates.  I don't kn

[2018-05-28 07:18] oz123 commented on #11
@clintonk  the [code distribution for 18.04 ](https://github.com/NetApp/trident/releases/download/v18.04.0/trident-installer-18.04.0.tar.gz)has no installer . So I opted for an earlier version.

These are the permission my user have:

![unbenannt](https://user-images.githubusercontent.com/1083045/40602226-11f6512a-6258-11e8-8304-1593731e885f.PNG)

[2018-05-29 14:26] clintonk commented on #11
@oz123 OK, please post the output from running the 18.04 installer (or tell us what you did to get it working).

[2018-05-30 23:14] acsulli commented on #120
@kapilarora,

Any chance you can check the latency between your OpenShift nodes and the data LIF(s)?  Just encountered a situation where extreme latency (> 200ms) was causing etcd to (apparently) falsely believe there were locks.  Changing to a storage device which is dramatically closer fixed things.

I have no idea at what point the latency might become an issue for etcd, but it would be worth k

[2018-05-31 19:44] forgosh opened #129 "Docker plugins not enabled after host reboot or docker service restart"
I verified that with Trident 18.01, when the host or docker service is restarted the plugins are automatically enabled. With Trident 18.04, the plugins are disabled and have to be manually enabled. This is reproducible with the following:
[code]

[2018-06-01 00:44] tothebit9 commented on #21
+1 we are looking forward to this feature. : )

[2018-06-01 16:41] netapping opened #130 "Be able to modify volume UID/GID at creation and after"
I'd like to request to add UID/GID be apart of the PVC creation or ONTAP-SAN creation.  The goal is to limit avoid creating a wide open persistent volume that can be accessed by everyone. With one or few claims, we can modify or create volumes with appropriate UID/GID.

It can potentially look like:
trident.netapp.io/userID
trident.netapp.io/groupID
Supported drivers ontap-nas

The documentation p

[2018-06-05 12:09] forgosh commented on #108
This feature is needed by a very large customer with a requirement for Adaptive QOS as the main selling point for the solution.

[2018-06-06 16:19] kapilarora commented on #120
Trident is able to server both backedns NFS and iSCSI
PostgreSQL runs fine with NFS
we are having issues still with mysql.
This is  a configuration issue but I dont think we can solve it at trident level.
Hence I am closing this issue for now.
I am also not able to recreate it in my lab.
The customer support case has also been closed.

[2018-06-06 16:19] #120 closed

[2018-06-07 13:39] #127 closed

[2018-06-07 17:45] acsulli commented on #124
@CalvinHartwell Currently, Trident selects from the matching storage pools randomly.  You can see the code for the operation [here](https://github.com/NetApp/trident/blob/master/core/orchestrator_core.go#L688-L716).

We have an open feature request (#64) to improve the intelligence here.  If it's something you're interested in, please +1 that request along with any additional comments you have.

A

[2018-06-08 15:50] korenaren commented on #124
Closing this one. Please open a new issue if there are remaining requests here.

[2018-06-08 15:50] #124 closed

[2018-06-08 16:02] korenaren commented on #91
We are fixing this with #103, but we're not adding the images to the installer. You'll have to use docker save and docker load to get the images into your environment, if you can't reach dockerhub directly.

[2018-06-08 16:02] #91 closed

[2018-06-08 16:23] korenaren commented on #101
Plan is to make Kubernetes native iSCSI support better, and that work is underway. We have no intention of shipping our own driver at this time.

[2018-06-08 16:23] #101 closed

[2018-06-12 19:12] korenaren commented on #96
This is a Docker issue. There is no API for Trident to return a creation date. You can reference https://github.com/moby/moby/pull/33257 for information on how this is implemented.

[2018-06-12 19:12] #96 closed

[2018-06-12 19:16] korenaren commented on #125
As @clintonk mentioned, this is fixed in the 18.04 release. Closing this issue.

[2018-06-12 19:16] #125 closed

[2018-06-12 19:36] korenaren commented on #87
UCP 2.2.6 is released. This should now be fixed.

[2018-06-12 19:36] #87 closed

[2018-06-13 16:53] kapilarora commented on #120
Today after some troubleshooting we figured that by default openshift template has mountPath /var/lib/mysql/data
We changed it to /val/lib/mysql after looking at this issue : https://github.com/docker-library/mysql/issues/69

And, mysql is now running in the OpenShift cluster with ONTAP NFS

[2018-06-14 04:53] #109 closed

[2018-06-14 14:11] pmeyer34 commented on #118
+1

[2018-06-14 16:06] brambezem opened #132 "tridentctl fails when deleting k8s objects"
I am unable to install trident using tridentctl due to what seems like a bug in the k8s_client. Can you please advise how I can get this working?

**Command:**
./tridentctl install -n trident

**Actual output:**
INFO Starting storage driver.                      backend=/home/user/trident-installer/setup/backend.json
WARN Could not determine controller serial numbers. API status: failed, Reason: U

[2018-06-14 16:48] clintonk commented on #132
@brambezem Thanks for this analysis!  I can't explain or reproduce what you are seeing, at least with K8S 1.10.1, and we do test with K8S 1.9 as well.  But reordering the kubectl arguments seems trivial and harmless, so I'll try to get that into the 18.07 release.

[2018-06-15 12:06] kapilarora commented on #74
Is this in the feature pipeline? Just checking as a customer asked about it today.
Kapil

[2018-06-15 15:43] dsmithfv commented on #101
We did some testing and we found this problem is caused by portals not being set in the pv.

  iscsi:
    fsType: ext4
    iqn: iqn.1992-08.com.netapp:sn.12345678910:vs.4
    iscsiInterface: default
    lun: 6
    targetPortal: 10.28.52.128
    **portals:
    - 10.28.52.128
    - 10.28.52.129
    - 10.28.52.130
    - 10.28.52.131
    - 10.28.52.136
    - 10.28.52.137
    - 10.28.52.138
    - 10.28

[2018-06-15 16:10] dsmithfv opened #133 "Trident bug in provisioning with Kubernetes."
As documented in: https://github.com/NetApp/trident/issues/101

"The iSCSI driver doesn't delete a device upon detach as there is no rescan following unmount."

Looking at K8s documentation I noticed Trident is failing to set the portals setting for LUNS.  We performed testing and found that setting the portals resolves this issue.  Below is a snippet of our pv configuration.

[code]

After manual

[2018-06-20 11:19] ChrisCavegn opened #134 "Expose kubelet_volume* metrics"
Since Kubernetes 1.8, kubelet can expose metrics about PVC usage, please see https://github.com/google/cadvisor/issues/1702.

Exposed metrics are (copied from said issue):
- kubelet_volume_stats_available_bytes
- kubelet_volume_stats_capacity_bytes
- kubelet_volume_stats_inodes
- kubelet_volume_stats_inodes_free
- kubelet_volume_stats_inodes_used
- kubelet_volume_stats_used_bytes

This is a featur

[2018-06-20 14:39] adkerr commented on #134
See https://github.com/kubernetes/kubernetes/blob/936f007cb99d1fc3d8d60e36e7cd0545914090b4/pkg/volume/volume.go#L37 for metrics interface

[2018-06-22 14:45] stang opened #135 "Enable support for LUN's "space-allocation" flag"
trident version: `18.01.0`
backend: `ontap-san`
guest os: `ubuntu16.04`

We currently can't enable the `space-allocation` property when a LUN is created.

That option is required in order to allow the host OS to claim back some space (via `fstrim` for example) when using `thin provisioning`.

[code]

That have multiple consequences:
* as we can't reclaim space, the SAN can't have a wrong informati

[2018-06-25 11:01] lopf opened #138 "Feature request: Ontap volume autogrow setting"
We usually provision volumes with autogrow enabled. It would be nice if one could specify this via PVC annotations:

`trident.netapp.io/autogrow: true|false`
`trident.netapp.io/autogrowIncrement: <size_in_mb>`
`trident.netapp.io/autogrowMax: <size_in_mb>`

[2018-06-25 20:40] acsulli opened #139 "Add support for specifying volume efficiency features for ONTAP backends"
ONTAP's storage efficiency features are applied, in an automatic manner, unevenly across the platforms.  For example, as of ONTAP 9.2, AFF systems will have inline deduplication, compression, and compaction enabled for all volumes by default.  However, non-AFF systems do not have this same configuration.

Additionally, for non-AFF systems, without expressly enabling volume efficiency, no efficienc

[2018-06-26 16:47] mani88451 opened #140 "Support for ETCD Member service start/stop in Trident Pod with built-in etcd"
We are in the process of backup/restore the Trident ETCD database incase of DR situation. Normally we follow below procedure to restore ETCD backup
1. Copy the backup files into ETCD member
2. Stop the ETCD member service using systemctl
3. Delete the data directory and restore the backup

But in default container we dont have systemctl binary to stop the member service also we dont find any other

[2018-06-26 18:32] joceluss commented on #21
+1

[2018-06-28 06:37] stang commented on #43
I believe https://github.com/NetApp/trident/commit/f9fe6267c0036bbe1a21e134c87684da886ebee8 goes along with that.

I'll close my PR.

[2018-06-28 13:48] adkerr commented on #119
Fixed in 723de85530e0be79b9f802e34518bed183e8c2ec

[2018-06-28 13:48] #119 closed

[2018-06-28 14:15] ivnilv commented on #21
+1

[2018-06-28 19:38] #126 closed

[2018-06-29 09:11] brambezem commented on #132
My workaround was to upgrade my cluster to kubernetes v1.10.4.
If you do not wish to do so you could try to only upgrade kubectl only as this is a client-side issue.

[2018-06-29 18:36] korenaren commented on #103
Fixed in a0805a4a13888d8a52eb4c3fad2cf1bd2e718f17

[2018-06-29 18:36] #103 closed

[2018-06-29 18:37] korenaren commented on #91
Fixed in a0805a4a13888d8a52eb4c3fad2cf1bd2e718f17

[2018-06-29 18:41] pingood commented on #132
upgraded kubectl client it worked. Thanks

[2018-07-04 10:15] cgajan opened #141 "Artificially limit logical capacity of the underlying volumes provisioned by the economy driver"
Hello Trident Team,

ontap-nas-economy driver create automatically new ONTAP volume to host ONTAP qtree
A provisioned volume will be filled up to 200 qtrees
This seems to be the only "sizing" criteria to trigger the creation of a new volume
Moreover this limit is hardcoded

We would like to have the 2 enhancements below

1. The "maxQtreesPerFlexvol" constant limit must be configurable (see trident

[2018-07-04 11:29] cgajan commented on #141
### Proposed code to implement enhancement 2 (maybe not 100% correct)

modified code is `storage_drivers/ontap/ontap_nas_qtree.go`

- usage of `getOptimalSizeForFlexvol` function in the `getFlexvolForQtree` code help to implement with a minimum of effort enhancement 2
- Notice that `sizeBytes` must be forward from `Create ` function to the `getFlexvolForQtree`

[2018-07-04 13:42] kangarlou commented on #86
@tbouvet @rverpillot Could you please answer the following questions?

1. What OS are you using?
2. How did you enable the user namespace feature?
There seem to be a few options to enable this feature from reading the docs and it would be helpful to know if Docker is creating the user manually or if you created the user and populated the /etc/subguid /etc/subuid files manually.
3. For the older ve

[2018-07-04 13:52] cgajan opened #142 "RFE: wish ontap-nas-economy driver spawn external process at flexvol and qtree creation"
**Hello Trident Team,**

Each time that ontap-nas-economy driver create a new flexvol to host a new qtree, it would be great to be able to trigger an external local command with some parameters relative to the new created flexvol. This allow us to be able to trigger custom operation relative to a new volume creation as register the volume in a CMDB ... The external local command would maybe merely

[2018-07-04 13:57] scaleoutsean opened #144 "Add CONTRIBUTING.md"
* It's not easy to see whether PRs should be submitted to `master` or latest release
* maybe a script for auto-AUTHORS.md generation could be added to the repo. This file hasn't been updated since 2016.

[2018-07-05 09:10] r0ss3 opened #145 "etcd hangs forever waiting for a lock"
Hi All,

This is trident 18.04 running in an openshift environment.  We have ephemeral openshift nodes, so for patching and maintenance nodes are removed and replaced with new ones.  Sometimes it happens that trident does not recover from such a stop/restart.  In this case etcd waits for a lock immediatly after the restart on another node.

This is the second time we have seen this in our environm

[2018-07-05 14:00] kangarlou commented on #145
Hi @r0ss3. The main culprit for `etcdserver: another etcd process is running with the same data dir and holding the file lock` is not waiting long enough for the previous instance of Trident to go down (e.g., via `tridentctl uninstall`) and before bringing up a new instance (e.g., via `tridentctl install`). We have also added liveness probes for trident and etcd containers, which makes detecting a

[2018-07-05 15:33] stang commented on #135
hi @adkerr - I didn't find any `CONTRIBUTE.md`: what are the next steps in order to get this PR merged?

[2018-07-05 15:37] adkerr commented on #135
@stang

Thanks for the PR. Next we'll import the commit into our internal CI system and also code review the changes. If we agree with the changes and everything looks good test-wise we'll push it back out automatically. If we need any other updates from you we'll make sure the update the PR on github

[2018-07-06 07:12] r0ss3 commented on #145
Thanks for the quick response.  Good to hear that 18.07 will have liveness probes!

Do you know how long this lock is held?  And does this mean etcd does not exit correctly when the pod is stopped?

[2018-07-06 08:53] thomasmeeus opened #146 "Publish Trident images to Redhat Container Catalog"
Hi,

we blocked Docker hub on our Openshift infrastructure because it contains too much vulnerable images.
Because of this we noticed that the Trident setup was unable to pull images anymore.
To be honest I was expecting that the Trident images were hosted at the Redhat Container Catalog since it's a certified way to provision storage within Openshift.

Would it be possible to upload/mirror the Tr

[2018-07-06 13:41] adkerr commented on #146
Hi @thomasmeeus,

This is a great idea and we will definitely look into it, however we might not be allowed to. Currently Trident is based off of the Alpine Linux base image as it is very small but with an easy to use package manager. However according to RedHat's site, it looks as though they only publish containers that are based on RedHat base images:

https://access.redhat.com/containers/#/faq

[2018-07-06 14:04] kangarlou commented on #145
The lock is held as long as there is a running etcd instance using it. Any new instance you bring up in the meantime, will wait and retry to acquire the lock for a limited period of time (initially it was 10s; now it's a little longer) and then it gives up, which was the scenario you encountered.

etcd exits correctly if you bring down the pod; you just have to give it enough time to properly shut

[2018-07-06 14:30] clintonk commented on #146
@thomasmeeus Please note that the just-released Trident 18.07.0-beta.1 includes the ability to override the images used by the Trident installer, so you have the option of copying them from Docker Hub to a local repository and using them from there.

[2018-07-09 07:17] grimm514 commented on #74
Our customers also want such a feature.

[2018-07-09 15:12] dsmorse commented on #129
We reverted back to 18.01 to dodge around this

[2018-07-10 05:56] r0ss3 commented on #145
Our trident deployments run with .spec.strategy.type==Recreate, so I don't think it is possible that 2 instances run at any given time.  However I've added the liveness probes so if it happens again the situation should resolve itself now.

[2018-07-10 09:49] kapilarora commented on #146
+1

[2018-07-10 09:58] CalvinHartwell commented on #146
This is correct - to get images into the Red Hay catalogue they have to be built from CentOS, RHEL or maybe Fedora base images.

My suggestion would be to push the trident containers to a local registry, I.E your own instance of atomic registry, SonaType nexus or Artifactory (or another product), connect that registry to your cluster and modify then modify trident to pull its images from it.

I ho

[2018-07-10 12:18] thomasmeeus commented on #146
Ok. So Redhat Container Catalog is not possible. But a Netapp-owned registry would be nice instead of Dockerhub.
The workaround of having a local registry hosting the image is indeed the thing we're going to configure in the meantime. Unfortunately we can't go in production this way since that Trident version is still in beta.

[2018-07-10 14:01] kangarlou commented on #146
@thomasmeeus What would be the difference between a NetApp-owned registry vs. Docker Hub for your organization? NetApp has no plans to offer its own registry service.

You don't need the latest beta to configure Trident with custom images. With v18.04, you can simply use `tridentctl install --generate-custom-yaml`, modify `setup/trident-deployment.yaml` so that it uses the images in your local reg

[2018-07-10 22:05] stobias123 opened #147 "Can't read secret?"
Running an install on Openshift 3.9... getting an error about the node not being able to read a secret.
Trying to connect to solidfire.
config
[code]

Error
[code]

Also seeing this
[code]

[2018-07-11 07:05] tbouvet commented on #86
1. Ubuntu 16.04 OS
2. User is manually created and then the 2 files /etc/subguid and /etc/subuid are populated.
3. Version nDVP: netapp/ndvp-plugin:17.10. Plugin mode is used.
[code]

[2018-07-11 10:59] thomasmeeus commented on #146
@kangarlou Security. That way we can deny Dockerhub so that no vulnerable 3rd party image from an untrusted source ends up on our environment. If Netapp offers a dedicated registry, hosting only Netapp (approved) images, we can blacklist Dockerhub & whitelist the Netapp-registry.

To be clear: this is not about Netapp offering public registry hosting. I'm asking to be able to download the Trident

[2018-07-11 21:42] clintonk commented on #132
Fixed in v18.07.0-beta.1

[2018-07-11 21:42] #132 closed

[2018-07-12 09:46] stang opened #148 "Feature request: Add support of failure domains"
To be able to leverage the [failure domains capabilities](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/predicates.go#L560-L654), we need to be able to add the `failure-domain.beta.kubernetes.io/zone` to the persistent volumes created by trident.

It seem that the best fit for this would be to add a new setting in the [backend configuration](http://netapp-

[2018-07-12 14:59] hartman17 commented on #21
+1

[2018-07-12 17:47] japplewhite commented on #120
I'm seeing this too with OpenShift 3.9 Origin and iSCSI with a ONTAP simulator that was working on earlier deployments

[2018-07-12 17:48] japplewhite commented on #120
@kapilarora I have an env to reproduce it

[2018-07-13 05:59] r0ss3 commented on #145
Reopening because it seems the liveness probe does not really fix it.  I have a trident instance now restarting because of the liveness probe for almost a full day:

[code]

So even with .spec.strategy.type==Recreate we sometimes run into this lock.  The lock is still held after more than 21 hours, and the liveness probes do not make it any better :(

[2018-07-13 14:16] kangarlou commented on #145
Have you tried running https://github.com/NetApp/trident/releases/tag/v18.07.0-beta.1? This version runs etcd v3.2.19. Trident v18.04 uses etcd v3.1.5.

[2018-07-13 14:51] kangarlou commented on #145
With etcd v3.1.5 (shipped with Trident v18.04) and v3.2.19 (shipped with Trident v18.07), the wait time is 1 second:
https://github.com/coreos/etcd/blob/v3.1.5/etcdserver/server.go#L279:L283
https://github.com/coreos/etcd/blob/v3.2.19/etcdserver/backend.go#L61:L64

With etcd 3.3, timeout has been increased to 10 seconds:
https://github.com/coreos/etcd/commit/0365a9dee80f004200e157bf834a6a9210e95b4

[2018-07-13 17:39] kangarlou commented on #21
For volume resize to work with Trident, we need to patch k8s upstream to allow resizing NFS and iSCSI PVs. I'm working on this patch, but this means you should expect volume resize with k8s 1.12 at the earliest.

[2018-07-16 12:47] kapilarora commented on #13
Do we have any plans on extending the clone functionality to 'Clone from Snapshot'?
Any updates on Snapshot APIs in general in k8s?

[2018-07-16 14:10] kangarlou commented on #13
These topics are currently being discussed by the community. Snapshots may be supported in k8s 1.12 and other volume operations like clone from snapshots are targeted for later.

[2018-07-18 03:11] scaleoutsean opened #150 "Clarify Docker EE version information in Docker Volume Driver requirements"
* Docker (CE and EE) 17.03, 17.06, 17.09, and 17.12

https://netapp-trident.readthedocs.io/en/stable-v18.04/support/requirements.html#requirements

Which EE versions are supported?

[2018-07-18 21:00] adkerr opened #151 "Trident doesn't properly filter offline ONTAP volumes"
When a volume is offline in ONTAP it does not send back all required attributes that Trident needs to know about. Code was added in 18.04 to filter for only "online" volumes to avoid issues with this, however that doesn't seem to be working in the latest code. Here is the volume-get-iter request with 18.07.0-beta.1:

[code]

Note that the `<query>` object is missing the state attribute

[2018-07-18 22:08] innergy commented on #146
@thomasmeeus Out of curiosity, is your security software sophisticated enough to make exceptions for signed images? In lieu of a NetApp registry, we could consider signing the images we push to Docker Hub:
- https://docs.docker.com/engine/security/trust/content_trust/

[2018-07-18 22:36] innergy commented on #141
The limit on the number of qtrees we provision in a volume may seem arbitrary and the sort of thing that should be configurable, but it's actually based on a careful analysis of several constraints that we're managing for you within the driver. We don't have any intention of making that configurable at this time. If the current limit is causing a specific problem, we'd love to hear more about that

[2018-07-18 23:02] innergy commented on #150
Yes, it's confusing. And the way that Docker names and versions things doesn't help.

Docker has two things named "EE", "Enterprise Engine" (just the engine) and "Enterprise Edition" (the engine, UCP, DTR, etc.). We were originally referring to both, because they shared version numbers in 17.06. But just to keep things interesting, Docker called the latest "Enterprise Edition" version 2.0, it stil

[2018-07-18 23:02] innergy commented on #148
See my comments in #149.

[2018-07-18 23:04] innergy commented on #140
If this is impacting you now, your best bet is to open a support case. This isn't really a great venue for interactive troubleshooting.

[2018-07-19 01:38] innergy commented on #130
Can you describe what you're hoping to achieve in detail?

Such a capability won't really provide additional security due to the way containers and Kubernetes work today. For more details, see this blog post:
- https://netapp.io/2018/06/15/highly-secure-kubernetes-persistent-volumes/

[2018-07-19 01:40] innergy commented on #133
@bswartz Is this a combination of the upstream Kubernetes fix you have in flight and support for multiple target portals in Trident?

[2018-07-19 10:07] cgajan commented on #141
Thank you  for the consideration you have for each request made. Whatever you final choice, we  appreciate

Controlling the number of qtree in a volume is not the most important feature (we can forget it). What is important for us is to control the maximum amount of data hosted on a volume (second requirement). Maybe changes considered for #64 can satisfy our wish, but it not very clear for me wha

[2018-07-19 10:34] cgajan commented on #142
Thanks for your open and honest answer. Currently my plan is to implement a post-processing job which check new volume emergence and do the needed actions (add in CMDB, configure a backup, ...) So yes I have a solution, certainly less integrated to Trident but good enough to go forward. Thanks you for mentioning Trident REST API, because I forgot this possibility and this can make the work easier.

[2018-07-19 15:00] innergy commented on #141
Thanks for the additional detail. That makes sense.

The work we were planning for #64 is based completely on the aggregate. The use case there is to decrease the likelihood that we would run out of physical capacity when thin provisioning.

Your use case is different, though. You want to arbitrarily limit logical capacity. Something you can already do with the other drivers, but not the economy d

[2018-07-20 06:54] lari-ch commented on #74
Same request from our customers. We would like this feature. Thx

[2018-07-20 07:49] thomasmeeus commented on #146
@innergy I have to verify and I'll come back to this. I don't think that verification of signed images is supported in Openshift. Perhaps the internal registry we're going to install has this functionality.

Currently we're using this snippet in the Openshift/docker config which simply blocks dockerhub entirely:
```BLOCK_REGISTRY='--block-registry=hub.docker.com'```

[2018-07-20 12:18] v0c1977 opened #152 "Issues when trying to initalize ontap-nas driver"
This is what is see in the logs,

time="2018-07-20T12:15:11Z" level=error msg="Kubernetes frontend couldn't add the storage class: Trident initialization failed; problem initializing storage driver 'ontap-nas': error initializing ontap-nas driver: could not create Data ONTAP API client: error reading SVM details: Post https://172.19.40.52/servlets/netapp.servlets.admin.XMLrequest_filer: EOF" stora

[2018-07-20 13:44] mvineza opened #153 "Unable to install trident again after kubernetes node IP change"
Hello All,

We recently changed the IP address of our kubernetes nodes (master version 1.10.1) to move it to a load-balanced VLAN. The nodes are running are controlled and bootstrap via our rancher server (version 2.X). I didn't uninstall trident before moving the nodes to new IPs. After IP change, I remember installing again trident and encountered a timeout issue after starting the trident pods.

[2018-07-20 14:15] adkerr commented on #152
It appears to be a connection issue, as we're getting a `EOF` from the zapi call. Can you verify that the zapi interface is working outside of trident? From the host where trident is installed, can you create a file called vserver-get-attributes.xml with the following contents (replacing the `vfiler` attribute with the proper svm name):

[code]
Then send the curl request (with correct user/passwor

[2018-07-20 22:03] innergy commented on #153
Changing the node IPs in Kubernetes should have no impact on Trident.

What's happening here is that there's a 'SampleAggregate' aggregate specified in your backend
configuration that does not exist in the 'SampleSVM' SVM.

You should see a line in this file that includes that aggregate:
  /home/ansible/trident-installer/setup/backend.json

Trident will automatically discover all of the aggregates

[2018-07-21 00:32] bswartz commented on #133
This bug will be fixed by my currently open Trident PR.

There are 2 other Kubernetes fixes related to iSCSI and multipathing, but not needed to solve this issue.

[2018-07-21 01:58] mvineza commented on #153
@innergy Yes I confirmed that backend.json contains the correct setttings.

I did a _grep -r SampleSVM_ on home directory, /var and I don't see where that aggregate comes from.

[2018-07-21 02:09] adkerr commented on #153
The aggregate needs to be delegated/assigned to the SVM on the storage array. This would be something your storage admin would need to do.

[2018-07-21 02:14] mvineza commented on #153
@innergy Even if I remove the aggregeate settings from backend.json, the installation still encounters that error. My suspicion is during initial contact of trident to netapp API, it sends the correct settings that's why it connect successfully and create the persistent volumes.

Then there might be a part inside the NetApp controller where it uses the incorrect aggregate name instead of the corre

[2018-07-21 02:16] mvineza commented on #153
@adkerr That's something we haven't done. I'll ask him if he can provide a new one, delete, or create. Thanks.

[2018-07-21 13:53] innergy commented on #153
If this aggregate isn’t referenced in the backend configuration you’re specifying during the installation, most likely what’s happening is that Trident is picking up an existing configuration from a previous installation.

Uninstalling Trident (even with the -a switch that deletes the Trident PV and PVC) does not remove Trident’s metadata volume on the backend.

If you reinstall Trident and that v

[2018-07-21 14:00] innergy commented on #123
tridentctl already inherits the context settings for kubectl, which should satisfy both of these use cases. If kubectl is configured to default to a different namespace, tridentctl will be too. Same with a different cluster.

Can you describe a scenario where this doesn’t suffice today?

[2018-07-21 14:03] innergy commented on #142
Excellent! Let us know how it goes!

[2018-07-21 14:03] #142 closed

[2018-07-22 06:34] stobias123 opened #154 "404 after fresh install"
Installing on openshift 3.9.1, when trying to create a backend I get 404.

[code]

Logs all show things are ok.
[code]

[2018-07-23 19:33] innergy commented on #154
Nothing obvious pops out here. Like you said, the logs look okay. This will be difficult to troubleshoot through GitHub. Please open a support case to troubleshoot further: https://mysupport.netapp.com/info/web/ECMLP2619434.html

Thanks!

[2018-07-23 19:33] #154 closed

[2018-07-23 19:34] innergy commented on #153
If you need further assistance, please open a support case: https://mysupport.netapp.com/info/web/ECMLP2619434.html

Thanks!

[2018-07-23 19:34] #153 closed

[2018-07-23 19:34] innergy commented on #152
If you need further assistance, please open a support case: https://mysupport.netapp.com/info/web/ECMLP2619434.html

Thanks!

[2018-07-23 19:34] #152 closed

[2018-07-23 21:49] Routhinator commented on #129
Also seeing this. It's been quite some time without any word from devs. Any work being done for this? This bug makes claims that this driver is "ready for production" quite questionable.

[2018-07-24 02:51] innergy commented on #147
How are you installing Trident? Is there anything special about your installation of OpenShift 3.9?

The node authorizer is responsible for giving a node access to the secrets based on the pods scheduled to run on the node:
  https://kubernetes.io/docs/reference/access-authn-authz/node/

Trident does not do anything to configure the node authorizer, and we have never seen a failure like this befor

[2018-07-24 06:33] v0c1977 commented on #152
Hi,

I get the same error,

curl -k -u trident -X POST -d @vserver-get-attributes.xml https://172.19.40.52/servlets/netapp.servlets.admin.XMLrequest_filer
Enter host password for user 'trident':
curl: (35) Encountered end of file

Br.
Christian

From: Andrew Kerr [mailto:notifications@github.com]
Sent: den 20 juli 2018 4:16
To: NetApp/trident
Cc: Carlé Christian (Supplier); Author
Subject: Re: [Ne

[2018-07-24 13:54] innergy commented on #152
That confirms that this isn't a Trident issue. You'll need to troubleshoot the inability to successfully call that API. The best way to do that is to contact standard NetApp support: https://mysupport.netapp.com/info/web/ECMLP2619434.html

[2018-07-24 13:54] appelding commented on #139
+1 My customers would love to be able to use this as well. ONTAP Select is a case where those are not enabled by default. So having the possibility to tune this is a requirement.

[2018-07-24 16:16] innergy commented on #129
Does it really?

We've been looking into this for a while. Unfortunately Docker unexpectedly introduced a number of tight timeouts in their 18.03 release that forced us to re-architect Trident's entire initialization process. Much of that work was done in 18.04, and improvements have been made in 18.07, but there appear to be some additional timing gaps that are unaccounted for that we're working

[2018-07-25 02:01] mvineza commented on #153
Hi all, just to update. We were able to solve the issue by uninstalling trident:
./tridentctl -n trident -a
Then removing the "trident_trident" volume inside Netapp. That is were the etcd is located.
Then installation finished w/o issues.
Thanks!

[2018-07-25 13:22] #151 closed

[2018-07-25 16:10] innergy commented on #150
Fixed by 51c3f4a

[2018-07-25 16:10] #150 closed

[2018-07-25 16:54] #147 closed

[2018-07-25 16:55] stobias123 commented on #147
This is no longer an issue, Re-deployed the cluster and things were ok.

[2018-07-25 18:53] rushins opened #156 "trident install error on openshfit 3.9"
hi

i am installing trident 1.8.04 on openshift 3.9 with kubernetes 1.9 . Trident install failing at bound stage.

INFO Deleted PV.                                   pv=trident
FATA Install failed; PVC trident was not bound after 120000000000 seconds

any idea what could be the issue ?

[2018-07-25 19:05] rushins commented on #120
i hit the same error today with openshift 3.9 using NFS ontap-cdot 9.1 release.
FATA Install failed; PVC trident was not bound after 120000000000 seconds

any idea

[2018-07-25 20:16] japplewhite commented on #120
@rushins I had success with the newest Trident beta release on Origin 3.9. I was using iscsi though so YMMV. What I have found is it works best on the first go. If you have an existing install that failed you must clean up on the fas by deleting the volume and lun (for iscsi) before proceeding to try again.

[2018-07-25 20:32] acsulli commented on #120
@rushins, @japplewhite Make sure that something else doesn't have a pending PVC when creating Trident.  In the original 18.04 there was a bug which was missing a piece of metadata preventing the `trident` PV from being bound by another PVC.  This is/was particularly an issue with OpenShift Enterprise, which deploys Ansible Service Broker (a.k.a. [ASB](https://docs.openshift.com/container-platform/

[2018-07-26 21:48] silentpete commented on #151
Have confirmed this resolved the issue.  Good Job Team!

[2018-07-27 15:32] #129 closed

[2018-07-27 17:08] silentpete commented on #129
@innergy,
Just tested Trident Plugin fix for #129, works great!

Do we know when the next beta will be released or an actual release?

[2018-07-27 17:13] korenaren commented on #129
@silentpete Thank you for breaking your silence to let us know! We are working feverishly to get our official 18.07 release out by end of July, so should be any day now.

[2018-07-27 17:16] silentpete commented on #129
@korenaren your welcome!  👍

Cool!!
Thank you so much everyone!

[2018-07-30 10:31] kapilarora commented on #156
two possibilities:
1) you haev a default storage class
Work around: temporarily remove the default storage class for the installation

2) You have pending PVCs and they are stealing the trident PV
Workaround: ensure no PVCs are in pending state during install

[2018-07-30 10:34] kapilarora opened #158 "Trident throws a false Warning during installation with ONTAP Select"
When installing with ONTAP select backend Trident throws a warning complaining about the aggregate disk type vmdisk
This should not be a warning as ONTAP select aggregate disk type vmdisk is valid.

[2018-07-30 13:40] acsulli commented on #156
Closing this one, it was a duplicate of #120 and was [answered there](https://github.com/NetApp/trident/issues/120#issuecomment-408434420).

[2018-07-30 13:40] #156 closed

[2018-07-30 16:56] clintonk commented on #158
@kapilarora Agreed, we'll aim to remove this warning.  It's harmless, though.

[2018-07-30 17:35] kangarlou commented on #118
Closed per b161ca46159d41a4d6c40b2b8fb5189dbad6a805.

[2018-07-30 17:35] #118 closed

[2018-07-30 17:41] scr-oath opened #159 "Support the mountOptions field of StorageClass when nfs-mounting for pods/containers"
We have a need to create a PVC that mounts NFSv4 with the `noac` option in order to eliminate any lag between writing on one node and reading (a folder or timestamp, e.g.) on another.  Kubernetes `StorageClass` has a `mountOptions` field that may be used to pass this option along so that it is used when mounting for use with pods/containers.

The nfs-client-provisioner recently added support for t

[2018-07-30 17:45] kangarlou commented on #69
Closed per 0c235c12f64ca3d7736f35a6b49d85eb0915e94d.

[2018-07-30 17:45] #69 closed

[2018-07-30 17:54] acsulli commented on #159
Hello @scr-oath, you can use the k8s mount options, as defined in the storage class, with Trident without issue since 18.01.  You can see an example toward the bottom of [this blog post](https://netapp.io/2018/01/25/trident-18-01/).

Andrew

[2018-08-01 05:27] winggundamth commented on #21
@kangarlou Can you post pull request on upstream so we can track the progress :)

[2018-08-01 11:44] kangarlou commented on #21
@winggundamth You can follow the PR here: https://github.com/kubernetes/kubernetes/pull/66780

[2018-08-02 17:33] korenaren commented on #74
@kapilarora Yes, in the pipeline. No commitment, but we are actively discussing this one.

[2018-08-02 20:57] silentpete opened #160 "Containers using NetApp Trident storage plugin don't auto start after host reboot"
## Expected Behavior:
If a container is running on a system with the docker option "restart: unless-stopped or always", the container should start on host reboot.

## Actual Behavior:
After restarting a host, the docker container doesn't auto restart with setting "restart: unless-stopped".

## Reproduce/Test Environment:
[code]

`$ cat docker-compose.yml`
[code]

`$ cat nginx.conf`
[code]

[2018-08-02 21:51] silentpete commented on #160
## Troubleshooting 18.07.0
`$ systemctl stop docker`
`$ tail -f /var/log/messages`
`$ systemctl start docker`

Copy output to tool for searching
Search for container name that didn't start

### Log Message:
Aug  2 17:06:28 tridentTest dockerd: time="2018-08-02T17:06:28.403283476-04:00" level=error msg="Failed to start container 9702b7d354b0f0b72f47289edcbfa2dea91d50898182e96dae0706126807ca36: get

[2018-08-02 21:54] korenaren commented on #160
@silentpete most of the team will probably see this (via plethora of notification channels), but I'll be sure to raise awareness tomorrow morning.

[2018-08-02 22:27] adkerr commented on #160
Shouldn’t docker continue to try and restart the container? There is a “boot up” time, if you will, before trident can handle requests. The message you see in the log is indicating that trident is still loading and communicating with the storage array for initialization. I would expect that the container should eventually come online once trident is initialized if the restart policy is always.

[2018-08-03 00:02] silentpete commented on #160
Thank you for getting back to me everyone!

@kangarlou, I purposely didn't mention 129 here because it does come up after a restart (thank you team!). We were the reporters for that problem, so I was testing this release to make sure it passed our fixed issues (129 and 151), and it didn't pass both, so my JIRA is still open.

The problem is that the container doesn't start, after reboot or docker

[2018-08-06 02:44] ToroNZ commented on #106
How are credentials stored exactly? secrets?

[2018-08-06 16:30] netapp-ci commented on #21
(Comment from NetApp CI):

(Comment from Jirayut Nimsaeng (Dear)):

@kangarlou Can you post pull request on upstream so we can track the progress :)

[2018-08-06 16:30] netapp-ci commented on #69
(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

Closed per 0c235c12f64ca3d7736f35a6b49d85eb0915e94d.

[2018-08-06 16:30] netapp-ci commented on #118
(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

Closed per b161ca46159d41a4d6c40b2b8fb5189dbad6a805.

[2018-08-06 16:30] netapp-ci commented on #21
(Comment from NetApp CI):

(Comment from Ardalan Kangarlou):

@winggundamth You can follow the PR here: https://github.com/kubernetes/kubernetes/pull/66780

[2018-08-08 22:06] adkerr commented on #133
@dondsmithtx if this is a duplicate of #69, which it appears to be, then yes it is in 18.07.0.

[2018-08-11 00:35] #158 closed

[2018-08-14 04:59] jacobjohnanda opened #161 "Unable to create a PVC on UCP Docker EE 2.0"
- DESCRIPTION:-
Unable to create a PVC on UCP Docker EE 2.0
- DETAILS:-
I was able to install Trident successfully on the UCP .
But when I try to create a PVC , it goes into the pending mode .I didn’t get  much details from the journalctl logs.
The vserver looks fine to me, I was able to create volumes from other kubernetes cluster.
I am not sure whether I am missing something or not .

SCREENSHOT

[2018-08-14 09:31] r0ss3 commented on #145
I upgraded to 18.07.0 with etcd 3.2.19 today, and it seems the etcd 3.2 does handle the file lock better.  It still sees the lock, but it seems to continue successfully now:

**> 2018-08-14 09:26:14.608328 W | etcdserver: another etcd process is using "/var/etcd/data/member/snap/db" and holds the file lock.

[2018-08-14 12:56] adkerr commented on #161
I’m not sure if this is the problem or not, but you’re using the beta annotation for storage provisioner. Can you try using the top level `provisioner` attribute for the pvc instead?

Also, a copy of the logs would be helpful, even if they don’t appear to contain useful info.

[2018-08-14 18:28] jacobjohnanda commented on #161
Hi Andrew,

Thanks for replying.
Following are the StorageClass and PersistentVolumeClaim , I am using
[root@scspa0512191001 ~]# cat sc_nas.yaml
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: sc-nas
provisioner: netapp.io/trident
parameters:
  backendType: "ontap-nas"
[root@scspa0512191001 ~]# cat pvc_nas.yaml
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ucp-nas

[2018-08-14 18:34] clintonk commented on #161
Did you follow the [Trident installation instructions specific to Docker EE 2.0](https://netapp-trident.readthedocs.io/en/stable-v18.07/kubernetes/deploying.html#install-trident)?

[2018-08-14 18:36] adkerr commented on #161
Trident does not have proper permissions to the API server. The log file is filled with

[code]

Did you install trident with the correct flags to set up RBAC properly (as linked to by @clintonk)?

[2018-08-14 18:51] jacobjohnanda commented on #161
Hi Knight,
Yes , I have followed the instruction as given  in the link.I used the --ucp-host and --ucp-bearer-token.

[2018-08-14 18:55] jacobjohnanda commented on #161
Hi Andrew,
The timestamp that you see is not correlating with the time I  created PVC.No logs are getting generated with errors at the time I create the PVC. That why had i mentioned that the logs were not relevant.

[2018-08-14 19:09] adkerr commented on #161
@jacobjohnanda what time did you try to create the PVC? I see the RBAC errors through the entire log file, from top to bottom

[2018-08-15 11:41] canhnt commented on #21
+1 We are waiting for this feature

[2018-08-16 05:03] jacobjohnanda commented on #161
IF you look at the logs , its just pertaining to the time when Trident was installed.

[2018-08-16 05:04] jacobjohnanda commented on #161
I have shared the machine details in a mail.Please do let me know if you would like any more information to debug?

[2018-08-16 18:02] #130 closed

[2018-08-16 20:47] roldancer commented on #121
I recommend to define a Prometheus exporter for monitoring.

[2018-08-21 04:16] #43 closed

[2018-08-21 10:47] Matthias-Beck commented on #74
We are also interested to have this option

[2018-08-21 10:55] Matthias-Beck opened #162 "Feature request: Create dp volumes via trident"
We would like to have the option to create dp volumes via trident to enable the possibility to move data easily from onprem to the cloud and back or from one (test/dev) to another cluster (prod) via snapmirror.

We want to automate this option for our customers. Today there are manual steps needed to recreate the volumes as dp volumes.

[2018-08-21 19:36] jacobjohnanda commented on #161
Hi,

Yes i was able to work around it by giving Trident  GRANT with FullControl .

[2018-08-21 19:45] innergy commented on #161
Yes, that will work around the issue for now.

We tested with UCP 3.0.0, but it appears that some of the role requirements changed in subsequent minor versions. To fix this we'll need to make some changes to the installer to grant Trident the new set of appropriate permissions.

[2018-08-22 07:15] chrifey commented on #161
Ok nice, thanks very much for the information!

[2018-08-24 12:43] kapilarora opened #163 "DOC: Documentation for Backup an Recovery procedure for the Trident deployment"
A guidance on how to backup and restore/recover trident deployment would be highly appreciated.
If there is already documentation available please let me know.

[2018-08-28 10:32] n1x0n opened #165 "Feature request: Support for Windows Containers on Windows Server"
We would like to have support for Docker for Windows, preferably both for Docker EE and CE. There are a lot of Windows applications, especially .NET applications, that would benefit from containerization and require persistent storage.

The preferred solution would use CIFS with one share per volume, just like we manage NFS today. Even better would be if there was an option to access these volumes

[2018-08-29 14:00] innergy opened #166 "Ignore PV pedigree when PVC/PV already exist"
We added code in 18.07 to assure and verify that the PVC Trident creates during installation binds to the PV that we provision.

A user ran into a scenario where this fails, and I believe that's happening because we're also performing the check if the PVC and PV already exist and the installer didn't originally create the PV it's bound to:

[code]

[code]

We should disable this check if a PV was

[2018-08-29 17:07] kapilarora opened #167 "Feature Request: Support for tridentctl on macOS"
It will be great to use tridentctl directly from my macbook where i run all my kubectl commands

[2018-08-30 14:56] scaleoutsean opened #168 "Inconsistency in characters allowed in volume names"
`--name nas-share` doesn't work with one back-end (ontap) and it works on another (solidfire). I don't know about E-Series.

[code]

While it'd be nice if all 3 back-ends worked the same, it's probably even more important that all behave according to some standards (if they exist). For example if `nas-share` isn't generally acceptable we should probably throw a warning even when it does work, rath

[2018-08-30 14:58] adkerr commented on #168
Those are restrictions from the respective backends. I suppose it could be possible to impose an trident-level restriction that is a superset of all the backends' restrictions.

[2018-08-30 15:02] scaleoutsean commented on #168
I understand that, but a user who works with one back end and adds another may be in for some surprises... We should probably warn even when it can work, always warn when we change what's passed to us, and certainly document this behavior.

[2018-08-30 22:18] innergy commented on #107
Delivered with 18.07 under https://github.com/NetApp/trident/commit/6923137d75e25ffd20a77eb4194754480c6b10fe

[2018-08-30 22:18] #107 closed

[2018-08-31 07:57] cschnidr commented on #162
You could potentiallly solve this by using SVM DR. Volumes added on the primary are then automatically mirrored to the destination SVM. However, the destination SVM is stopped and the volumes cannot be accessed or cloned while the destination SVM is not started (DR activated).

[2018-08-31 08:05] cschnidr opened #169 "Feature Request: Pre/Post Script Support"
Currently discussing a DR/backup setup of Trident volumes.
Given the vast variety of options what customers requests (DR, XDP, SVM DR...) it would be highly desired to offer a pre- and post script support for Trident.
Here some scenarios where this would solve the DR/backup problem:
-customer is using Trident to deploy volumes. Later he runs some automation to establish snapmirror of the volume. T

[2018-08-31 08:13] cschnidr commented on #162
If you implement this, please support also other replication policies like XDP.

[2018-08-31 11:49] Matthias-Beck commented on #162
@cschnidr SVM DR only works if you want to move a whole Cluster or if you create a dedicated SVM for every application within you container cluster.
I would prefer to have the possibility to move single volumes to another cluster.

[2018-08-31 13:51] #140 closed

[2018-08-31 13:54] innergy commented on #162
Do you see this request as any different from #72?

[2018-08-31 13:59] innergy commented on #169
I'm going to track this, but I want to be clear that we don't have any immediate plans to offer it. We'd rather automate most of what your describing here, and we're working out the models for that. Once we have more of that in place, we can revisit whether we still think this is necessary.

[2018-08-31 14:08] cschnidr commented on #169
You can dup this to if #72 will support XDP relationships (provision, deprovision (primary and secondary), deprovision (primary only) and multiple protection policies.

[2018-08-31 14:10] cschnidr commented on #169
Again if everything would be automated - perfect. I was afraid that messing with destination pools etc. could be a bit challenging. I guessed pre-/post script would be easier to implement and would give the customer the maximum flexibility.

[2018-09-03 05:13] Matthias-Beck commented on #162
@innergy I think, in the end it is a cross cluster / trident replication which is needed in both request

[2018-09-03 10:22] kapilarora opened #170 "Feature Request: tridentctl get backend command should also provide available and used capacity on storage pools"
Looking for ways the k8s admin can look at his storage capacities.
Hoping this information can be fetched from the tridentctl using the following command:

tridentctl get backend -n trident -o yaml

if we could also calculate and show capacities for each storage class, that might also be useful.
But i am not sure how we will handle this when storage classes overlap.

[2018-09-04 10:53] kirkryan opened #171 "ONTAP Select & CVO report media type as vmdisk"
Today, ONTAP generically classifies ANY Azure/AWS disk as a vmdisk (much like SELECT does). Therefore Trident cannot differentiate between different disk types such as SSD vs HDD.

Here is an output of the current ONTAP 9.4 build of CVO:

aks::> aggr show aggr1

                                         Aggregate: aggr1
                                      Storage Type: vmdisk

[2018-09-04 14:48] mircster opened #172 "Feature storage pools in Storage Class definition doesn't work"
We use trident with OCP (OpenShift Container Platform) 3.9.

[code]

We did the update to trident version 18.07 to get the benefits of #118 .
[code]

The setup doesn´t work as documented.

We would like to use multiple backends with multiple storageclasses, so that the customer can decide between storageclasses and these storageclasses point to an explicit backend.

The reason for an explicit back

[2018-09-04 15:01] #21 closed

[2018-09-04 16:58] ntap-rippy commented on #172
Hi,

That field is a regex (regular expression) and not a fileglob.

Can you please try :.* (with a dot) instead of :* (without a dot) and see if it works for you?

[2018-09-06 06:37] mircster commented on #172
Hi,

sorry for the delay, i didn´t had to chance to test yesterday.

You´re right ``:.*`` (with a dot) **works**!
I created 6 PVC and all of them used the selected backend.

But to be sure, why is it documented with ``:*`` (without a dot) ?

[2018-09-06 16:19] Mundy667 opened #174 "ONTAP NAS Volume name is limited to 64 characters"
We ran in this error message during a poc with trident ontap-nas-economy-driver and rancher.

`  Normal  ProvisioningFailed    28s (x11 over 9m)  netapp.io/trident            encountered error(s) in creating the volume: [Failed to create volume prometheus-wllpw-prometheus-wllpw-alertmanager-c0a58 on storage pool xxxxxxxxx_data_aggr from backend ontapnaseco_10.21.XX.XX: volume k8s_xxxxxxx05_prometh

[2018-09-06 16:53] kangarlou commented on #174
The limitation comes from ONTAP as ONTAP has a 64-character limit for qtree names: https://library.netapp.com/ecmdocs/ECMP1196986/html/GUID-C594875B-F58F-475E-B477-96EB95F768BE.html

[2018-09-06 16:53] clintonk commented on #174
The ontap-nas-economy driver provisions qtrees for the persistent volumes, whose names are limited by ONTAP to 64 characters.  By using a shorter namespace name in Rancher, and a shorter storage prefix in your Trident driver config file, you may be able to squeak under the limit.

[2018-09-06 19:29] #172 closed

[2018-09-11 21:12] forgosh commented on #74
I also have a large customer asking for this. The use case is slightly different however. They want to be able to clone from a PV, not a PVC, so that the clones can cross namespaces. They are saying that it is a competitive weakness today for us.

[2018-09-11 21:15] forgosh commented on #13
Cloning from the PVC limits clones to the same namespace. Cloning either from a snapshot or an existing PV is needed to be able to clone to a different namespace.

[2018-09-12 13:12] kangarlou commented on #13
Cloning a volume to a different namespace is currently being discussed by the community: https://github.com/erinboyd/community/blob/patch-3/contributors/design-proposals/storage/cloning.md. The manual solution is the recommended approach for now. Once Trident supports volume import (https://github.com/NetApp/trident/issues/74), Trident can manage the manually provisioned volumes.

[2018-09-12 13:16] kangarlou commented on #74
@forgosh Cloning a volume to a different namespace is currently being discussed by the community: https://github.com/erinboyd/community/blob/patch-3/contributors/design-proposals/storage/cloning.md. The manual cloning by the admin and the manual construction of the corresponding PVC and PV is the recommended approach for now. Once Trident supports volume import (this issue), Trident can manage the

[2018-09-14 18:30] silentpete commented on #160
have confirmed "netapp/trident-plugin:18.10.0-beta.1" resolves this issue.

Thank you so much!

[2018-09-14 18:43] clintonk commented on #160
Great news, @silentpete.  Thanks for confirming!

[2018-09-15 21:40] innergy commented on #86
Fixed by https://github.com/NetApp/trident/commit/3393e515bfabeb5a82962f4c5416bb67de0dff15

[2018-09-15 21:40] #86 closed

[2018-09-15 21:58] innergy commented on #115
The installer changes in 18.04 were substantial and addressed many of these issues, and we haven't seen  requests for things like this since then. If there's still a specific need, please open another issue.

[2018-09-15 22:02] #146 closed

[2018-09-16 15:23] ceojinhak opened #175 "ENOLCK (no locks available) errors because rpc-statd is not running or GlusterFS is installed"
I tried to install Trident v18.07 on K8s cluster with FAS(ontap-nas).
During the installation, I've got the following error logs with the debug mode.

[xadmop01@devrepo1 trident-installer]$ ./tridentctl install -n trident
INFO Trident pod started.                          namespace=trident pod=trident-797f547579-d572m
INFO Waiting for Trident REST interface.
ERRO Trident REST interface was not ava

[2018-09-16 15:30] kangarlou commented on #175
Please follow https://netapp-trident.readthedocs.io/en/master/kubernetes/troubleshooting.html. I would pay close attention to the etcd logs.

[2018-09-16 15:51] ceojinhak commented on #175
Attached some detail logs as below. Can you give me some advice for me to resolve the issue?

[xadmop01@devrepo1 trident-installer]$ ./tridentctl logs -l all -n trident
trident log:
time="2018-09-10T05:47:10Z" level=info msg="Running Trident storage orchestrator." binary=/usr/local/bin/trident_orchestrator build_time="Mon Jul 30 21:46:22 UTC 2                          018" version=18.07.0

etcd lo

[2018-09-16 16:05] kangarlou commented on #175
We're aware of this issue, and if I'm not mistaken, I've already helped you or your account team determine etcd is the problem when a question was asked using our internal mailing list. My understanding is there is a support case open, so please be patient and wait for the process to go through. In the meantime, we'll update this issue once we have a solution. Thanks!

[2018-09-18 14:40] kangarlou commented on #175
We have validated that the problem isn't Trident or Kubernetes as the etcd panic also happens when etcd is run as a binary with a manually mounted NFS share.

The problem seems to be with obtaining a lock on an NFS file and getting ENOLCK.

Any application that issues the flock system call may experience the same problem:
https://linux.die.net/man/2/flock
https://golang.org/pkg/syscall/#Flock

Our

[2018-09-18 15:53] kangarlou commented on #175
@ceojinhak To validate NFS locking is the issue, you can follow these steps:

1. Manually create an NFS share.
2. Manually mount the NFS share to the host.
3. Create a file on this share.
4. Use flock (man 1 flock) to obtain a lock on this file: (e.g., `flock /mnt/nfs/myfile -c cat`).

If flock fails, this confirms NFS locking is the issue.

[2018-09-18 16:17] ceojinhak commented on #175
Okay, I will try it tomorrow and let you know the result.

2018년 9월 19일 (수) 오전 12:57, Ardalan Kangarlou <notifications@github.com>님이
작성:

[2018-09-18 18:19] nlowe commented on #175
I just ran into this while trying to deploy trident to a different k8s cluster. If you have multiple installations of trident on the same netapp instance you will probably want to change `igroupName` and `storagePrefix` in addition to `backendName`. Changing these allowed trident to be deployed successfully.

[2018-09-18 18:29] kangarlou commented on #175
Thanks @nlowe. As the first comment indicates, this is an issue with our ontap-nas driver and with a new install, so the etcd volume doesn't exist already. However, you're right that the majority of the etcd problems are because users inadvertently share the same etcd volume between different instances of Trident. You can also run `tridentctl installl --volume-name` to specify a different name for

[2018-09-19 09:51] ceojinhak commented on #175
The customer tested flock and sent the result as below.

# mount 172.16.215.249:/vol001 /mnt
# touch /mnt/test.txt
# flock /mnt/test.txt -c cat
flock: /mnt/test.txt: No locks available

Does that mean the issue caused by not trident & k8s but NFS protocol? Is
it right?

2018년 9월 19일 (수) 오전 3:29, Ardalan Kangarlou <notifications@github.com>님이 작성:

[2018-09-19 12:12] kangarlou commented on #175
That's exactly what it means. Something with NFS isn't configured properly in your customer environment. For NFS locking to work,`statd` should be running on your client hosts:
[code]

[2018-09-20 02:18] ceojinhak commented on #175
The customer verified the activation of rpc-statd status on all nodes. By the way, he succeeded to install Trident after NFS v4 enable on FAS.
He has installed another k8s cluster other than the problematic k8s cluster and confirmed that the trident was installed well. At this time, there was no changes in storage side. So, as you said, this issue is likely a problem with the nfs client (rpc-statd

[2018-09-20 20:26] bswartz commented on #133
This is fixed by https://github.com/NetApp/trident/commit/0c235c12f64ca3d7736f35a6b49d85eb0915e94d and https://github.com/kubernetes/kubernetes/commit/845a55dbbda9a35cfd3659f1fe880d35a03dc44b

[2018-09-20 20:26] #133 closed

[2018-09-24 01:00] CalvinHartwell commented on #64
+1 for this as i'm hitting issues when using Trident + cloud manager together, as its still not picking the correct pool which is automatically generated for me.

[2018-09-24 01:02] CalvinHartwell commented on #125
Thanks for fixing this!

[2018-09-26 14:20] dxlr8r opened #176 "Snapshot reserve"
For ONTAP it's possible to set spaceReserve, snapshotPolicy but not a parameter to control the snapshot reserve. Or did I miss something?

[2018-09-26 15:18] rileynjohnson opened #177 "Trident Install Fails if GlusterFS is installed on K8s node"
Installing Trident on a new server fails if GlusterFS is enabled.

Trident Logs:
ERRO Trident REST interface was not available after 180.00 seconds.
FATA Install failed; exit status 1; Error: Get http://127.0.0.1:8000/trident/v1/version: dial tcp 127.0.0.1:8000: connect: connection refused
command terminated with exit code 1; use 'tridentctl logs' to learn more.  Resolve the issue; use 'tridentctl

[2018-09-26 17:42] kangarlou commented on #177
@rileynjohnson Please share what version of GlusterFS is deployed and whether GlusterFS is deployed in a container or not.

[2018-09-26 18:14] kangarlou commented on #177
It would also be good to know if they're running gNFS or Ganesha with GlusterFS. GlusterFS itself doesn't use the NFS lock manager, so the issue here might be that the NFS lock manager cannot start because GlusterFS is running or NFS on top of GlusterFS is causing problems.

Please share the output of `rpcinfo -p` run on the Kubernetes hosts.

Since NFSv4 locking doesn't require the lock manager,

[2018-09-26 18:40] rileynjohnson commented on #177
rpcinfo –p works fine on the node with GlusterFS turned OFF (see below). Whereas on other nodes (with GlusterFS turned ON) it fails

root@<server>:/root   ---(GLUSTERFS Turned OFF)
# rpcinfo -p
   program vers proto   port  service
    100000    4   tcp    111  portmapper
    100000    3   tcp    111  portmapper
    100000    2   tcp    111  portmapper
    100000    4   udp    111  portmapper

[2018-09-26 20:04] clintonk commented on #176
Hi, @dxlr8r.  Yep, you missed something, but not by much!  Snapshot reserve control was just released in v18.10.0-beta.1.

https://github.com/NetApp/trident/releases

[2018-09-26 20:04] #176 closed

[2018-09-27 14:05] rileynjohnson commented on #177
The GlusterFS version is 3.12.11 and it is deployed in a container

[2018-10-04 21:26] sands6 opened #178 "Trident installation fails with ontap-nas-driver on Openshift"
There are two parts to this problem we encountered:
1) ontap-nas-driver expects 'default' policy on SVM and we cannot pass this as argument in backend configuration if different policy name is created on SVM
2) choosing 'ontap-nas-driver' during installation creates 'trident_qtree_pool_export_policy' but  mounted trident volume choose to use 'default' policy rather than 'qtree_pool_export_policy'

[2018-10-05 09:41] mgranata opened #179 "Trident SUSE Caas support"
Hello, while Trident support Kubertenes and Openshift, I don't see any explicit support for SUSE Caasp nor SUSE Linux host OS. Is there any plan to include these in support?

[2018-10-05 14:28] oleimann opened #180 "VServer DR failover causes vserver access issue in nDVP/Trident 18.07"
[Redacted] NetApp Support
on Trident/nDVP version 18.07:

[2018-10-05 16:47] adkerr commented on #178
It looks like you're using the `ontap-nas-economy` driver instead of the regular ontap-nas driver. We don't recommend you use that to bootstrap trident itself during installation. See the note in the docs here: https://netapp-trident.readthedocs.io/en/stable-v18.07/kubernetes/deploying.html#configure-the-installer

[2018-10-05 17:28] sands6 commented on #178
@adkerr are you saying that during install i should limit to using ontap-nas driver. After installation can I use the same backend with ontap-nas-economy driver and register it as storage class? If it is not possible then I need to request separate ONTAP SVM just for installation.

[2018-10-05 17:53] adkerr commented on #178
@sands6 Yes, use ontap-nas driver to install, then add the ontap-nas-economy driver as a backend to trident. The volume driver used during install is simply somewhere to place trident's ETCD database and is not used for provisioning (unless you also explicitly add it as a backend). You should be able to use the same SVM for both drivers.

[2018-10-08 15:16] sands6 commented on #178
@adkerr Thanks for the tip. I could confirm that I used 'ontap-nas' driver during install and the same backend with 'ontap-nas-driver' for storage class provisioning. I am closing the issue.

[2018-10-08 15:16] #178 closed

[2018-10-11 08:51] git001 opened #181 "Status update for "CSI Trident for Kubernetes""
As documented in the doc is **CSI Trident for Kubernetes** a alpha version.
Do you plan to develop this part further to a release version?

[2018-10-11 12:10] innergy commented on #181
This is really an internal design choice. We’re always re-evaluating how we integrate with orchestrators, so it’s a possibility.

Can you elaborate on why the CSI method in particular matters to you?

[2018-10-11 13:47] clintonk commented on #181
@git001, in case you missed it, @innergy wrote a [blog post](https://netapp.io/2018/07/03/netapp-trident-and-the-csi-oh-my/) with a bit more color.  And it's all still true: we continue contributing to the development of CSI in the community, we continue exploring ways to leverage CSI in Trident, and as an external volume provisioner, Trident continues to be way out in front of CSI.

[2018-10-11 15:39] #174 closed

[2018-10-11 16:20] jason43017 commented on #106
My customer is also very interested to have this option.

[2018-10-11 17:18] kangarlou commented on #106
@jason43017 This feature is on the roadmap, but I should note that with the default install method where etcd is deployed as part of the Trident pod, only the Trident container can access etcd as the etcd container is locked down to the Trident pod. We also recommend installing Trident in its own namespace (`tridentctl install -n trident`) to ensure that the Trident pod is isolated from the rest o

[2018-10-12 13:58] dondsmithtx opened #182 "Issue with Trident provisioning RWX (multi user) with Openshift."
We are currently running Trident version 18.07.1.  We are able to provision nfs storage and block storage with single user mode (RWO).  We are unable to provision block storage with multi user (RWX)

Working block storage (RWO):

Oct 12 08:51:12 server1290 journal: time="2018-10-12T13:51:12Z" level=info msg="Kubernetes frontend provisioned a volume and a PV for the PVC." PV=dataes-testing-block-si

[2018-10-12 14:13] clintonk commented on #182
Hi, @dondsmithtx.  RWX means "read-write-many", where multiple hosts can read and write a volume.  That's not supportable with iSCSI, since the host owns the file system and having multiple writers could lead to data corruption.  If you need multiple hosts to read (& not write) an iSCSI volume, then ROX ("read-only-many") should work.  If you truly need RWX, please use NFS.

[2018-10-12 14:14] #182 closed

[2018-10-12 14:17] dondsmithtx commented on #182
Ok that makes perfect sense.  Thanks for the rapid response, I'll close this ticket.

[2018-10-18 15:10] somejfn opened #183 "Install fail with Trivent PV stuck in Pending state (18.07.1)"
I previously installed Trident on a test cluster without issues and now on another cluster (live... not a test one) I can't get the PVC to bind so install times out.  The backend config is the same (except for the tenant name, access group and SVIP since it's in another vlan):

{
    "version": 1,
    "storageDriverName": "solidfire-san",
    "Endpoint": "https://trident-user:somepass@10.74.65.188

[2018-10-18 15:28] somejfn commented on #183
I destroyed all trace of the test k8s cluster in the storage unit.  All hosts are in the VAG.  The trace above was likely one I ran twice without killing the volume again

[2018-10-18 15:38] clintonk commented on #183
You also appear to be using custom YAML (the PVC was created using setup/trident-pvc.yaml) via --use-custom-yaml switch.  Did you modify that file in some way?  Did you try running the installer without any customization beyond setup/backend.json?

[2018-10-18 15:39] somejfn commented on #183
Yes I have to add a label on the deployment because we use calico.  Otherwise the trident pod won't be able to reach the API server

[2018-10-18 15:46] somejfn commented on #183
Hmm ok confused....  not using the custom metadata I get the PVC to bind but then timeout on the REST API since Im missing labels

 ./tridentctl install -n trident
INFO Starting Trident installation.                namespace=trident
INFO Created service account.
INFO Created cluster role.
INFO Created cluster role binding.
INFO Waiting for PVC to be bound.                  pvc=trident
INFO Created

[2018-10-18 15:48] clintonk commented on #183
The installer creates the trident PV and PVC such that K8S will automatically bind them together.  The PV has a claimRef section that identifies the PVC by name & namespace, and the PVC has a selector that only matches the trident PV.  If you generated custom YAML, that will include the PVC YAML file, so make sure you're running the installer with a matching namespace.  Alternatively, you can dele